.container
    #kinesiologia-traumatologica-domicilio
    hr
    .featurette-divider
    .row.featurette
        .col-md-5
            .text-center
                img.img-responsive.img-thumbnail(src='images/Traumatologia_jpg.webp' alt='Kinesiología en Traumatologia atencion a domicilio todo santiago')
        .col-md-7
            h2#kinesiologia-traumatologica-domicilio Kinesiologo a domicilio en Traumatol&oacute;gia
            p.text-justify
              | &iquest;en que consiste el tratamiento?
              | El 
              strong tratamiento kinesico
              |  se llevara a cabo en la comodidad de su hogar, el profesional incluye todo el tipo de equipamientos necesarios para la correcta aplicaci&oacute;n terapeutica equipos de ultrasonido, electro-terapia sensitiva y muscular, vendajes terapeuticos. Similar a los ejercicios respiratorios aplicados en kinesiologia respiratoria a domicilio, dentro de la terapia lo mas importante en el 
              strong entrenamiento fisico kinesico
              |  el cual se encargara de resolver el 80% del proceso de 
              strong rehabilitaci&oacute;n
              | . 
              |          patologias como lumbagos, hombros  rodillas o cuellos lesionados, lesi&oacute;n de ligamentos y tendones, procesos post-operatorios como remplazo protesico de cadera
              |          Estas disfunciones se abordan desde distintos m&eacute;todos de tratamiento:
              ul
                li
                  strong Fisioterapia
                  | : equipos de ultrasonido, electroterapia, vendajes deportivo, termoterapia todos con objetivos de modular el tejido lesionado y disminuir el dolor
                li
                  strong Terapia Manual Ortop&eacute;dica
                  |  : tecnicas manipulativas articulares y de tejidos blandos para recuperar el dolor, mejorar la mecanica y recuperacion de los tejidos
                li
                  strong Ejercicio Terap&eacute;utico
                  | : ejercicios de tipo excentrico, flexibilidad y estabilizaciones
                li
                  strong medicina china
                  | : esto es aplicado a pacientes con dolores de dificil tratamiento, terapia recomendada por la organizacion mundial de la salud y validada por el ministerio de salud de chile. consiste en la aplicacion de agujas en puntos especificos con lo cual se potenciara los efectos analgesicos

