.container
    #kinesiologo-adultomayor-domicilio
    hr
    .featurette-divider
    .row.featurette
        .col-md-6
            .text-center
                img.img-responsive.img-thumbnail(src='images/Adulto-Mayor_jpg.webp' alt='Kinesiología para el Adulto Mayor atencion domicilio y casas de reposo')
        .col-md-5
          h2#kinesiologo-adultomayor-domicilio Kinesiolog&iacute;a para el Adulto Mayor | domicilio o casas de reposo
          p.text-justify
            | lista de servicios de rehabilitaci&oacute;n integral
            ul
              li
                | kinesiologia respiratoria a domicilio: eso incluye todo lo relevante a esa &aacute;rea incluso ejercicios respiratorios
              li kinesiologia en traumatologia y post operados
              li kinesiologia en neurologia
              li ejercicios terapeuticos para mantener la capacidad fisica e independencia
          p.text-justify
            | Pensando que cada vez la poblaci&oacute;n vive m&aacute;s a&ntilde;os y cada d&iacute;a aumenta el n&uacute;mero de adultos mayores con diversas complicaciones y dolencias.
            | Nosotros ofrecemos una terapia integral con el equipo de 
            strong kinesi&oacute;logo a domicilio
            |  enfocados para el adulto mayor, que no solo mejoraremos su problema principal,
            |  sino que abarcamos desde diversos enfoques sus mayores complicaciones.
            |  Mejorando sus factores de riesgos cardio-vasculares, con ejercicios localizados en mejorar sus capacidades funcionales(capacidad para funcionar de forma independiente), disminuir sus factores de riesgos como la diabetes mellitus II, hipertension, sus riesgos de ca&iacute;da, las diversas dolencias y molestias f&iacute;sicas que presenten, adem&aacute;s de integr&aacute;ndolo funcionalmente a sus actividades de la vida diaria y educando a la familia a la mejora f&iacute;sica, ps&iacute;quica y emocional de su adulto mayor.
            |  Contamos con 
            strong manejo de pacientes postrados
            | , en sillas de ruedas, traslados.
            |        se ofrece 
            strong descuento a grupos de adulto mayores sobre 3 personas