<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <html lang="es-CL" dir="ltr">
    <meta name="google-site-verification" content="k0ifTL9HEpSv6O2o5-koMb6yDs9HI_Z2hLJRUNrDto8">
    <meta name="geo.region" content="CL-RM">
    <meta name="geo.placename" content="Santiago">
    <meta name="geo.position" content="-33.44889;-70.669265">
    <meta name="ICBM" content="-33.44889, -70.669265">
    <meta name="robots" content="index">
    <meta name="keywords" content="kinesiologo a domicilio, kinesiologia, kinesiologo, acupuntura, rehabilitacion, respiratorio, traumatologia, neurologia, deportivo, adulto mayor, medicina china">
    <meta name="description" content="servicio de kinesiologo a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
    
    <link rel="canonical" href="http://www.kinesishouse.cl/">
    <link rel="icon" type="images/png" href="images/Favicon_png.webp">
    <meta property="fb:app_id" content="342670069681285">
    <meta property="og:locale" content="es_CL">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.kinesishouse.cl/images/Respiratoria_jpg.webp">
    <meta property="og:image:type" content="image/webp">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="300">
    <meta property="og:image:alt" content="servicio de kinesiologia a domicilio">
    <meta property="og:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
    <meta property="og:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
    <meta property="og:url" content="http://www.kinesishouse.cl/">
    <meta property="og:site_name" content="kinesis house">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
    <meta name="twitter:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">        
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <% include schema/migajas.ejs %>

    <title><%= pageTitle%> </title>
</head>