<!DOCTYPE html>
<html lang="es-CL">

<%- include('heads/head.ejs'); %>

<body>
  <%- include('navbar/navbar.ejs'); %>
<div class="section container"></div>
   
   
    <%- include('botones/boton.ejs'); %>      

    <%- include('footers/footer.ejs'); %>
    </body>
    
    </html>