<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/navbar.ejs'); %>
  <header class="header-blog">
    <h1 class="h1-blog">
      Acupuntura y medician china tratamiento especial y conbinado con kinesiología
    </h1>
  </header>


	<main class="main-blog">
		<!-- Sección de presentación de servicios -->
		<section class="container">
			<div class="container">
				<h2 class="h2-blog">Nuestros servicios</h2>
				
								<span class="card-title">Acupuntura Tradicional China</span>
								<p class="p-blog">La acupuntura es una técnica milenaria que consiste en la inserción de agujas en puntos específicos del cuerpo con el fin de equilibrar la energía y promover la curación natural del organismo.</p>
              <button><a href="#">Más información</a></button>								
								<span class="card-title">Auriculoterapia</span>
								<p class="p-blog">La auriculoterapia es una técnica que utiliza la estimulación de puntos específicos del oído para tratar diversas afecciones del cuerpo y de la mente.</p>
              <button>		<a href="#">Más información</a></button>						
								<span class="card-title">Acupuntura Tradicional China</span>
								<p class="p-blog">La acupuntura es una técnica milenaria que consiste en la inserción de agujas en puntos específicos del cuerpo con el fin de equilibrar la energía y promover la curación natural del organismo.</p>
              <button>		<a href="#">Más información</a></button>						
          <section class="container">
            <h3 class="h3-blog">Preguntas Frecuentes</h3>
            <ul >
              <li>
                <p class="p-blog">¿Qué es la acupuntura?</p>
                <p class="p-blog"><span>La acupuntura es una técnica milenaria originaria de China que consiste en la inserción de agujas delgadas en puntos específicos del cuerpo para estimular el flujo de energía y promover la curación.</span></p>
              </li>
              <li>
                <p class="p-blog">Cómo funciona la acupuntura?</p>
                <p class="p-blog"><span>La acupuntura funciona estimulando los nervios, músculos y tejidos conectivos del cuerpo para aumentar el flujo de sangre y oxígeno y promover la curación natural.</span></p>
              </li>
              <li>
                <p class="p-blog">¿Cuáles son los beneficios de la acupuntura?</p>
                <p class="p-blog"><span>La acupuntura puede ayudar a tratar una amplia variedad de condiciones de salud, como el dolor de espalda, la ansiedad, el insomnio, la migraña y más. También puede ser utilizada como un complemento de la kinesiología para ofrecer un tratamiento más completo y efectivo.</span></p>
              </li>
              <li>
                <p class="p-blog">¿Qué es la medicina china?</p>
                <p class="p-blog"><span>La medicina china es un sistema completo de atención médica que se basa en la teoría del yin y el yang, y la idea de que el cuerpo está compuesto por cinco elementos: madera, fuego, tierra, metal y agua. La medicina china incluye técnicas como la acupuntura, la moxibustión, la terapia herbal y más.</span></p>
              </li>
              <li>
                <p class="p-blog">¿Cómo se combina la acupuntura y la kinesiología?</p>
                <p class="p-blog"><span>La acupuntura y la kinesiología se complementan muy bien, ya que ambas técnicas se centran en el bienestar físico y emocional del paciente. La acupuntura puede ser utilizada para tratar dolores musculares y articulares, mientras que la kinesiología puede ayudar a identificar y corregir desequilibrios en el cuerpo que puedan estar causando el dolor.</span></p>
              </li>
            </ul>
          </section>
        </div>
        </div>
    </section>
  </main>
        
        
        
  
  <%- include('partial/footer.ejs'); %>
  <%- include('partial/boton.ejs'); %>
  </body>
  <script src="../js/action.min.js"></script>      
  </html>