#Carousel-Header.carousel.slide(data-interval='5000' data-ride='carousel')
    ol.carousel-indicators
        li.active(data-target='#Carousel-Header' data-slide-to='0')
        li(data-target='#Carousel-Header' data-slide-to='1')
    .carousel-inner
        .item.active(style='background-image:url(images/Header/Health.jpg)')
            .container-fluid.center
                .row.col.align-self-center
                    .col-md-6.col-md-offset-6.jumbotron
                        br
                        h2 kinesi&oacute;logo a Domicilio
                        p.text-justify
                            | llevamos el mejor servicio de kinesiolog&iacute;a en la comodidad de su hogar, sin la necesidad de traslados, atochamientos o cualquier tipo de imprevistos.
                        p.text-left
                            strong Beneficios
                        ul(style='text-align : left;')
                            li Evite esperas
                            li Traslados o pagos de estacionamiento
                            li Dedicatoria total al paciente 1 Hr. aprox.
    a.left.carousel-control(href='#Carousel-Header' data-slide='prev')
        span.icon-prev
    a.right.carousel-control(href='#Carousel-Header' data-slide='next')
        span.icon-next
