.footer-dark
    footer
        .container
            .row
                .col-sm-6.col-md-3.item.text
                    ul
                        h3 horario
                        li  lunes - viernes 8:00- 20:00
                        li  sabado-domingo 8:00-14:00
                        li  cargo extra en horario no establecido
                .col-sm-6.col-md-3.item
                    h3 Services
                    ul
                        li.menu_item
                            a(href='/Respiratoria.html') kinesiologia Respiratoria
                        li.menu_item
                            a(href='/Traumatologia.html') kinesiologia en Traumatologia
                        li.menu_item
                            a(href='Neurologica.html') kinesiologia en Neurol&oacute;gica
                        li.menu_item
                            a(href='/Adultomayor.html') kinesiologia para Adulto Mayor
                        li.menu_item
                            a(href='/Deportivo.html') Deportiva
                        li.menu_item
                            a(href='/Acupuntura.html') Acupuntura
                .col-sm-6.col-md-4.item
                    h3 contacto
                    ul
                        li
                            a(href='kinesishouse@gmail.com')
                                span.glyphicon.glyphicon-envelope  Email
                        li
                            a(href='tel:+56 9 5683 3633')
                                span.glyphicon.glyphicon-earphone  telefono
                        li
                            a(href='https://www.google.com/maps/place/Las+Condes,+Regi%C3%B3n+Metropolitana/@-33.4233405,-70.5896293,12z/data=!3m1!4b1!4m5!3m4!1s0x9662cc2ec8c925bd:0x82ed9a4180d925d0!8m2!3d-33.3989812!4d-70.5573124')
                                span.glyphicon.glyphicon-map-marker  Santiago RM
                        li
                            a(href='https://api.whatsapp.com/send?phone=56956833633')
                                i.fa-li
                                    img(src='images/icon-whassap.png' width='20' height='20')
                            |  whatssap
            p.copyright Paulo Silva Kinesiologo y acupuntura &copy; 2019
