<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>                 
  
   <link rel="stylesheet" href="style.css">
</head>
<body>
       <!--menu desktop-->
       <header>
        <!-- Menú mobile -->
        <nav class="navbar">
             <!-- Menú desktop -->
        <div class="navbar-desktop">
            <div class="navbar__container">
                <h1 class="navbar__title">Kinesis House</h1>
                <a href="#" class="dropdown1__link">Servivios </a>
                <div class="dropdown1">
                    <a href="#" class="dropdown1__link">
                        Blog
                        <img src="./assets/down.svg" class="dropdown_1_arrow">
                    </a>
                    <div class="dropdown1__content">
                        <ul class="dropdown1__sub">
                            <li class="dropdown1__li">
                                <a href="#" class="dropdown1__anchor">kinesiologo traumatologia</a>
                            </li>
                            <li class="dropdown1_li">
                                <a href="#" class="dropdown1__anchor">kinesiologo neurologia</a>
                            </li>
                            <li class="dropdown1__li">
                                <a href="#" class="dropdown1__anchor">kinesiologo respiratorio</a>
                            </li>
                            <li class="dropdown1__li">
                                <a href="#" class="dropdown1__anchor">kinesiologo geriatria</a>
                            </li>
                            <li class="dropdown__li">
                                <a href="#" class="dropdown__anchor">kinesiologo deportivo</a>
                            </li>
                            <li class="dropdown1__li">
                                <a href="#" class="dropdown1__anchor">kinesiologo + acupuntura</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown1">
                    <a href="#" class="dropdown1__link">
                        Contacto
                        <img src="./assets/down.svg" class="dropdown1__arrow">
                    </a>
                    <div class="dropdown1__content">
                        <ul class="dropdown1__sub">
                            <li class="dropdown1__li">
                                <a href="#" class="dropdown1__anchor">kinesishouse@gmail.com</a>
                            </li>
                            <li class="dropdown1__li">
                                <a href="tel:+56956833633"class="dropdown1__anchor" target="_blank">+569 56833633</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="dropdown1__link">Nosotros</a>

                <a href="#" class="dropdown1__link">
                    Ayuda
                </a>
            </div>
        </div>
          
        </nav>
         <!-- menu mobile-->
    <nav class="nav">
       
        <a href="#menu" class="nav__menu">
            <img src="./assets/menu.svg" class="nav__icon">
        </a>
        <a href="#" class="nav__menu nav__menu--second">
            <img src="./assets/close.svg" class="nav__icon">
        </a>
        <ul class="dropdown" id="menu">
            <li class="dropdown__list">
                <a href="#" class="dropdown__link">
                    <img src="./assets/house.svg" class="dropdown__icon">
                    <span class="dropdown__span">Inicio</span>
                </a>
            </li>
            <li class="dropdown__list">
                <a href="#" class="dropdown__link">
                    <img src="./assets/projects.svg" class="dropdown__icon">
                    <span class="dropdown__soan">Proyectos</span>
                    <img src="./assets/down.svg" class="dropdown__arrow">
                    <input type="checkbox" class="dropdown__check">
                </a>
                <div class="dropdown__content">
                    <ul class="dropdown__sub">
                        <li class="dropdown__li">
                            <a href="#" class="dropdown__anchor">kinesiologo traumatologia</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="#" class="dropdown__anchor">kinesiologo neurologia</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="#" class="dropdown__anchor">kinesiologo respiratorio</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="#" class="dropdown__anchor">kinesiologo geriatria</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="#" class="dropdown__anchor">kinesiologo deportivo</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="#" class="dropdown__anchor">kinesiologo + acupuntura </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="dropdown__list">
                <a href="#" class="dropdown__link">
                    <img src="./assets/email.svg" class="dropdown__icon">
                    <span class="dropdown__soan">Contacto</span>
                    <img src="./assets/down.svg" class="dropdown__arrow">
                    <input type="checkbox" class="dropdown__check">
                </a>
                <div class="dropdown__content">
                    <ul class="dropdown__sub">
                        <li class="dropdown__li">
                            <a href="#" class="dropdown__anchor">kinesishouse@gmail.com</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="tel:+56956833633" class="dropdown__anchor" target="_blank">+569 56833633</a>
                        </li>
                        
                        
                    </ul>
                </div>
            </li>
            <li class="dropdown__list">
                <a href="#" class="dropdown__link">
                    <img src="./assets/help.svg" class="dropdown__icon">
                    <span class="dropdown__span">Ayuda</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- menu mobile -->       
       
    </header>
    <!--menu desktop-->
   
    <main>
        <section class="header">
            <div class="header__background"></div>
            <div class="header__content">
              <div class="header__text">
                <h1 class="header__title">Kinesiología a Domicilio Recupérate en la Comodidad de tu Hogar</h1>
                <p class="header__subtitle">Rehabilitación Personalizada en tu Casa Cuidamos tu Bienestar</p>
              </div>
              <div class="header__cta">
                <button class="view-more-btn">Llama ahora
                    <a href="tel:+56956833633" target="_blank"></a>
                </button>
              </div>
            </div>
          </section>         
 <!-- seccion de servicios-->        
 
        <section class="container">
            <h2 class="h2-title">Servicios especializados en kinesiología</h2>
            <p class="p-content">Recupera tu Movilidad y Bienestar con Nuestros Servicios de Kinesiología a Domicilio.
                Profesionales Altamente Cualificados para Brindarte la Mejor Atención Personalizada.
                Te Ayudamos a Mejorar tu Calidad de Vida y Lograr tus Metas de Salud. haz click en cada imagen para saber más
            </p>
            <article class="card">
                <img src="./assets/masoterapia.jpg" alt="">
                <div class="text-overlay">Kinesiologo respiratorio</div>
                <div class="card__content">
                    <p class="card__title">kinesiologia Respiratoria</p>
                    <p class="card__description">
                        terapia respiratoria a domicilio, EPOC, neumonia, aspiracion de secreciones, en la comodidad de tu hogar
                    </p>
                    <button>ver mas</button>
                </div>
            </article>
            <article class="card">
                <img src="./assets/masoterapia.jpg" alt="">
                <div class="text-overlay">Kinesiologo traumatologia</div>
                <div class="card__content">
                    <p class="card__title">kinesiologo geriatria</p>
                    <p class="card__description">tratamieto integral en personas mayores, conbinamos terapia de respiratorio, traumatologia y neruologia para mejorar todos los factores necessarios en ancianos
                    </p>
                    <button>ver mas</button>
                </div>
            </article>
            <article class="card">
                <img src="./assets/masoterapia.jpg" alt="">
                <div class="text-overlay">Kinesiologo traumatologia</div>
                <div class="card__content">
                    <p class="card__title">kinesiologo traumatologia</p>
                    <p class="card__description">tratamiento combinado a patologias como lumbagos problemas a tendones, dolor cronico, fracturass y post operados

                    </p>
                    <button>ver mas</button>
                </div>
            </article>
            <article class="card">
                <img src="./assets/masoterapia.jpg" alt="">
                <div class="text-overlay">Kinesiologo Neurologia</div>
                <div class="card__content">
                    <p class="card__title">kinesiologo Neurologia</p>
                    <p class="card__description">
                        Rehabilitacionen patologias neurologias como parkinson, ACV, guillian barre
                    </p>
                    <button>ver mas</button>
                </div>
            </article>
            <article class="card">
                <img src="./assets/masoterapia.jpg" alt="">
                <div class="text-overlay">Masaje terapeuticos</div>
                <div class="card__content">
                    <p class="card__title">Masaje terapeuticos</p>
                    <p class="card__description">Servicios de masaje terapeutico, 45 min de duracion, se aplican diveras formas y tecnicas de masaje.

                    </p>
                    <button>ver mas</button>
                </div>
            </article>
            <article class="card">
                <img src="./assets/masoterapia.jpg" alt="">
                <div class="text-overlay">Terapia de Acupuntura</div>
                <div class="card__content">
                    <p class="card__title">Terapia de Acupuntura</p>
                    <p class="card__description">
                        tratamiento del dolor cronico y agudo, fibromialgia, dolores de cabeza en combinacion con kinesiologia
                    </p>
                    <button>ver mas</button>
                </div>
            </article>
            <!-- Resto de las tarjetas aquí -->
        </section>
        <!--titulos de features-->
        <section class="container">
          <h2 class="h2-title">Blog </h2>
          <p class="p-content">¡Descubre los Mejores Consejos para una Recuperación Exitosa en Nuestro Blog!
            Información Valiosa para Cuidar tu Salud y Bienestar, ¡No te lo Pierdas!
            Mantente Informado sobre las Últimas Tendencias en Rehabilitación y Kinesiología.
           
        </p>
    </section>
        <!--imagenes features tipo blog-->
        <section class="container2">
          <div class="item item-large">
            <img class="full-image" src="https://images.pexels.com/photos/77171/pexels-photo-77171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="overlay">
              <span>terapia respiratoria</span>
              <div>
                <h2>Kinesiologia respiratoria</h2>
                <p>niños y adultos todo lo que debes saber</p>
              </div>
            </div>
          </div>
          <div class="item item-small">
            <img src="https://images.pexels.com/photos/5282269/pexels-photo-5282269.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="overlay">
              <span>Traumatologia</span>
              <div>
                <h2>rehabilitacion de lesiones </h2>
                <p>lesiones comunes, operaciones y más</p>
              </div>
            </div>
          </div>
          <div class="item item-small">
            <img src="https://images.pexels.com/photos/3722818/pexels-photo-3722818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="overlay">
              <span>Neurologia</span>
              <div>
                <h2>terapia de Kabat y Bobath</h2>
                <p>forma de aplicaciones y patologias comunes</p>
              </div>
            </div>
          </div>
          <div class="item item-small">
            <img src="https://images.pexels.com/photos/4046386/pexels-photo-4046386.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="overlay">
              <span>Adulto mayor | geriatria</span>
              <div>
                <h2>¿Como recuperar a los abuelos?</h2>
                <p>no es dificil su tratamieto click para saber más</p>
              </div>
            </div>
          </div>
          <div class="item item-small">
            <img src="https://images.pexels.com/photos/2044434/pexels-photo-2044434.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="overlay">
              <span>Deportivo</span>
              <div>
                <h2>Lesiones en atletas</h2>
                <p>¿Es diferente la rehabilitacion en deporte?</p>
              </div>
            </div>
          </div>
          <div class="item item-smell">
            <img src="https://images.pexels.com/photos/699466/pexels-photo-699466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="overlay">
              <span>Medicina China</span>
              <div>
                <h2>Acupuntura, moxibustion y ventosas</h2>
                <p>un complemento ideal en rehabilitación</p>
              </div>
            </div>
          </div>
          <div class="item item-smell">
            <img src="https://images.pexels.com/photos/572689/pexels-photo-572689.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="overlay">
              <span>Vendaje terapeutico</span>
              <div>
                <h2>todo lo que debes saber sobre vendajes</h2>
                <p>aplicaciones formas y tipos</p>
              </div>
            </div>
          </div>
          <div class="item item-smull ">
            <img src="https://images.pexels.com/photos/258196/pexels-photo-258196.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="overlay">
              <span>Fisioterapia</span>
              <div>
                <h2>¿Que diferencia a la Fisioterapia de la Kinesiologia?</h2>
                <p>averigualo aqui y sal de la duda</p>
              </div>
            </div>
          </div>
        </section>
        <!--tabla de precios-->
        <section class="price-tables">
            <h2 class="h2-title">Precios</h2>
            <p class="p-content">Precios Accesibles para Todos Nuestros Servicios de Kinesiología a Domicilio.
                Encuentra el Plan que se Ajuste a tus Necesidades y Presupuesto.
                No Dejes que el Costo sea un Obstáculo para tu Recuperación.
                <strong> el precio es por sesión</strong>
            </p>
          <div class="price-table">
              <div class="table-header">Fuera de Stgo.</div>
              <div class="price">$40,000</div>
              <ul class="features">
                  <li>Chicureo</li>
                  <li>Buin</li>
                  <li>Calera de Tango</li>
              </ul>
              <a href="#" class="btn">Comprar</a>
          </div>
          <div class="price-table">
              <div class="table-header">Plan Estándar</div>
              <div class="price">$30,000</div>
              <ul class="features">
                  <li>Kine Respiratorio</li>
                  <li>kine Traumatologia</li>
                  <li>Kine Neurologia</li>
              </ul>
              <a href="#" class="btn">Comprar</a>
          </div>
          <div class="price-table">
              <div class="table-header">Plan con Dcto.</div>
              <div class="price">$25,000</div>
              <ul class="features">
                  <li>La Reina</li>
                  <li>Peñalolen</li>
                  <li>Macul</li>
              </ul>
              <a href="#" class="btn">Comprar</a>
          </div>
        </section>
      <!-- comentarios pacientes-->
      <section class="container">
        <h2 class="h2-title">Comentarios Positivos de nuestros clientes</h2>
        <p class="p-content">Aqui puedes revisar que tan contentos estan los clientes con el servicio de rehabilitacion entregado, fuente fiable de google, personas reales</p>
        <div class="comments-container">
            <div class="comment">
                <img class="comment-image" src="https://us.123rf.com/450wm/alekseyvanin/alekseyvanin1705/alekseyvanin170500978/77418653-usuario-icono-de-cuenta-plana-bot%C3%B3n-redondo-simple-signo-circular-vector-dise%C3%B1o-de-estilo.jpg" alt="Comentario 1">
                <h3>Patricia pizarro</h3>
                <p class="comment-text">Muy empático, profesional y responsable,  con mucho dominio de su especialidad,         dedicado, ya que explica en términos sencillos el tratamiento.
                    He tenido una muy buena recuperación desde la primera sesión hasta ahora.
                    Cuenta con el equipamiento necesario para realizar la terapia.
                    Mi estado de ánimo ha cambiado por los avances que he logrado, estoy muy contenta con esto. Me da seguridad y confianza en cada sesión. Lo recomiendo de todas maneras! ⭐⭐⭐⭐⭐</p>
                
            </div>
            <div class="comment">
                <img class="comment-image" src="https://us.123rf.com/450wm/alekseyvanin/alekseyvanin1705/alekseyvanin170500978/77418653-usuario-icono-de-cuenta-plana-bot%C3%B3n-redondo-simple-signo-circular-vector-dise%C3%B1o-de-estilo.jpg" alt="Comentario 1">
                <h3>Valeria Rubilar klagges</h3>
                <p class="comment-text">Paulo, tus terapias son increibles.. mi familia en diversas ocasiones se ha tratado contigo y la verdad nos da resultados positivos siempre. En la comodidad del hogar y a un precio asequible, gracias por tu profesionalismo.
                    100% recomendado.. ⭐⭐⭐⭐⭐</p>
            </div>
            <div class="comment">
                <img class="comment-image" src="https://us.123rf.com/450wm/alekseyvanin/alekseyvanin1705/alekseyvanin170500978/77418653-usuario-icono-de-cuenta-plana-bot%C3%B3n-redondo-simple-signo-circular-vector-dise%C3%B1o-de-estilo.jpg" alt="Comentario 1">
                <h3>Patricia Pérez</h3>
                <p class="comment-text">Excelente profesional, dedicado, preocupado. Se interioriza con la situación del paciente y explica muy bien para que es cada tipo de ejercicio , la frecuencia y cantidad de veces que necesita el paciente. Lo recomiendo 100%.⭐⭐⭐⭐⭐</p>
            </div>
            <div class="comment">
                <img class="comment-image" src="https://us.123rf.com/450wm/alekseyvanin/alekseyvanin1705/alekseyvanin170500978/77418653-usuario-icono-de-cuenta-plana-bot%C3%B3n-redondo-simple-signo-circular-vector-dise%C3%B1o-de-estilo.jpg" alt="Comentario 1">
                <h3>Denisse Ureta-Cox</h3>
                <p class="comment-text">Muy buen profesional, me gustó mucho que combinara la medicina tradicional con medicina alternativa. Me sentí muy cómoda en la terapia y recomiendo su trabajo 100%⭐⭐⭐⭐⭐.</p>
            </div>
            <div class="comment">
                <img class="comment-image" src="https://us.123rf.com/450wm/alekseyvanin/alekseyvanin1705/alekseyvanin170500978/77418653-usuario-icono-de-cuenta-plana-bot%C3%B3n-redondo-simple-signo-circular-vector-dise%C3%B1o-de-estilo.jpg" alt="Comentario 1">
                <h3>johanna ferrada cubillos</h3>

                <p class="comment-text">Excelente profesional, nos ayudó mucho con nuestro hijo. Lo recomiendo 100% ⭐⭐⭐⭐⭐</p>
            </div>
        </div>
        <a class="view-more-btn" href="https://www.google.com/search?q=kinesis+house&amp;oq=kines&amp;aqs=chrome.0.35i39j69i57j0i67l6j0i433i512j0i67.2430j0j15&amp;sourceid=chrome&amp;ie=UTF-8#lrd=0x9662c3de4ff84d79:0x7d9e5b3dd403ebc0,1,,,,"  target="_blank">Ver más comentarios en Google My Business</a>
       
    </section>
 
    </main>
    <!-- inicio footer-->
    <footer class="footer">
      <div class="footer-section">
          <h3>Contacto</h3>
          <ul>
              <li>Dirección: Ñuñoa, Peñalolén, Las Condes, Chicureo, Vitacura, La Reina</li>
              <li>Teléfono: +569 56833633</li>
              <li>Email: kinesishouse@gmail.com</li>
          </ul>
      </div>
      <div class="footer-section politicas">
          <h3>Políticas</h3>
          <ul>
              <li><a href="#">Política de privacidad</a></li>
              <li><a href="#">Política de cookies</a></li>
              <li><a href="#">Aviso legal</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <h3>Redes Sociales</h3>
          <div class="footer-social">
              <a href="#" target="_blank">
                 <img src="./assets/Facebook_logo_36x36.svg"  alt="">
              </a>
              <a href="#" target="_blank">
                 <img src="./assets/Instagram.svg" alt="">
              </a>
              <a href="#" target="_blank">
                <img src="./assets/Linkedin_icon.svg" alt="">
              </a>
              <a href="#" target="_blank">
                 <img src="./assets/Logo_of_Twitter.svg" alt="">
              </a>
          </div>
      </div>
  </footer>
       <!-- inicio boton de llamadas-->
       <div class="boton-flotante boton-activo" data-toggle="botones-flotantes">
        <a href="#"><img src="./assets/phone-call.svg" class="nav__icon" alt="">
          </a>
      
    </div>
      <ul class="boton-flotantes" id="botones-flotantes">
        <li><a class="back-blue" href="tel:+56956833633" target="_blank"><img class="center-img1" src="./assets/phone-call.svg"  alt="">
        </a></li>
        <li><a class="back-green" href="https://api.whatsapp.com/send?phone=56956833633" target="_blank"><img class="center-img" src="./assets/WhatsApp.svg" alt="">
          </a></li>
      </ul>
      <!--fin boton llamadas-->
</body>
<script>
  const botonActivo = document.querySelector('.boton-activo');
  const botonesFlotantes = document.querySelector('.boton-flotantes');

  botonActivo.addEventListener('click', (event) => {
      // Detener la propagación del evento click para que no afecte al documento
      event.stopPropagation();
      event.preventDefault();

      botonesFlotantes.classList.toggle('abrir');
  });

  document.addEventListener('click', (event) => {
      const toggleTarget = document.getElementById(botonActivo.getAttribute('data-toggle'));

      if (!botonActivo.contains(event.target) && !toggleTarget.contains(event.target)) {
          botonesFlotantes.classList.remove('abrir');
      }
  });
</script> 
</html>
