doctype html
html(lang='es-CL' dir='ltr' )
  head
    meta(charset="utf-8")
    meta(name="google-site-verification" content="k0ifTL9HEpSv6O2o5-koMb6yDs9HI_Z2hLJRUNrDto8")
    meta(name="geo.region", content="CL-RM")
    meta(name="geo.placename", content="Santiago")
    meta(name="geo.position", content="-33.44889;-70.669265")
    meta(name="ICBM", content="-33.44889, -70.669265")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='robots' content='index')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content="kinesiologo a domicilio, kinesiologia, kinesiologo, acupuntura, rehabilitacion, respiratorio, traumatologia, neurologia, deportivo, adulto mayor, medicina china")
    meta(name="description", content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.")
    title ▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio campaña invierno 2019
    link(rel="canonical" href="http://www.kinesishouse.cl/")
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel="stylesheet", type="text/css", href="stylesheets/main.css")
    link(rel="icon" type="images/png" href="images/Favicon_png.webp")
    meta(property='fb:app_id' content='342670069681285')
    meta(property='og:locale' content='es_CL')
    meta(property='og:type' content='website')
    meta(property='og:image' content='http://www.kinesishouse.cl/images/Respiratoria_jpg.webp')
    meta(property='og:image:type' content='image/webp')
    meta(property='og:image:width' content='400')
    meta(property='og:image:height' content='300')
    meta(property='og:image:alt' content='servicio de kinesiologia a domicilio')
    meta(property='og:title' content='▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio')
    meta(property='og:description' content='servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.')
    meta(property='og:url' content='http://www.kinesishouse.cl/')
    meta(property='og:site_name' content='kinesis house')
    meta(name='twitter:card' content='summary')
    meta(name='twitter:description' content='servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.')
    meta(name='twitter:title' content='▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio')


    script(type='application/ld+json').
      {
      "@context" : "http://schema.org",
      "@type" : "LocalBusiness",
      "name" : "kinesiólogo a Domicilio",
      "image" : "http://www.kinesishouse.cl/images/Respiratoria_jpg.webp",
      "telephone" : "+56956833633",
      "email" : "kinesishouse@gmail.com",
      "address" : {
      "@type" : "PostalAddress",
      "addressLocality" : "Santiago Región Metropolitana",
      "addressRegion" : "metropolitana",
      "addressCountry" : "chile",
      "postalCode" : "8320000"
      },    
          
      "openingHoursSpecification" : {
      "@type" : "OpeningHoursSpecification",
      "dayOfWeek" : {
      "@type" : "DayOfWeek",
      "name" : "Lunes a Sábado 8:00-20:00"
      }
      },
      "url" : "http://www.kinesishouse.cl/",      
      "review" : {
      "@type" : "Review",
      "author" : {
      "@type" : "Person",
      "name" : "Paulo Silva"
      },
      "reviewBody" : "servicio de kinesiología a domicilio, kinesiologo respiratorio a domicilio"
      }
      }
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MGLSFCR');
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-61824422-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-61824422-1');

  body
      block content
      noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MGLSFCR' height='0' width='0' style='display:none;visibility:hidden')

      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
      script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
      script(src="js/script.js")
      include floatbuttom
