doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="geo.region", content="CL-RM")
    meta(name="geo.placename", content="Santiago")
    meta(name="geo.position", content="-33.44889;-70.669265")
    meta(name="ICBM", content="-33.44889, -70.669265")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content="acupuntura, medicina china, tratamiento oriental, terapia oriental china, tratamiento con acupuntura")
    meta(name="description", content="Servicio terapeutico, se realizan tratamiento de medicina oriental y kinesiología enfocado en la acupuntura, ventosas y moxibustion, con el fin de la recuperacion de los pacientes")
    title #{pageTitle}
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel="stylesheet", type="text/css", href="stylesheets/main.css")

  body
      block content
      script(async, src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
      script(async, src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
      script(async, type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
      script(async, src="js/script.js")
      include floatbuttom
