noscript
  iframe(async="" src='https://www.googletagmanager.com/ns.html?id=GTM-MGLSFCR' height='0' width='0' style='display:none;visibility:hidden')

nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') KinesisHouse
            //img.d-inline-block.align-top(src='images/favicon.svg', width='30', height='30', alt='logo empresa kinesiologo y acupunturista')
           .container
             .row
               a.btn.btn-primary.btn-success(href='tel:+56 9 5683 3633')
                           span.glyphicon.glyphicon-earphone.visible-sm-xs-block llamar
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.nav-item
                    a.nav-link(href='/profesional-kinesiologo') Profesional kinesiologo
                li.dropdown
                    a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                        | Servicios
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='#acupuntura-domicilio') Acupuntura
                        li
                            a(href='#kinesiologo-adultomayor-domicilio') Adulto Mayor
                        li
                            a(href='#kinesiologia-deportiva-domicilio') Deportiva
                        li
                            a(href='#kinesiologia-neurologia-domicilio') Neurologia
                        li
                            a(href='#kinesiologia-respiratoria-domicilio') Respiratoria
                        li
                            a(href='#kinesiologia-traumatologica-domicilio') Traumatologia

            ul.nav.navbar-nav.navbar-right
                li
                    a(href='https://api.whatsapp.com/send?phone=56956833633') Contactanos