nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(style="color:#595959;", href='#') KinesisHouse
            img.d-inline-block.align-top(src='images/favicon.svg', width='30', height='30', alt='')
            a.btn.btn-primary.btn-success(href='tel:+56 9 5683 3633')
                span.glyphicon.glyphicon-earphone.visible-sm-xs-block llamar
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        | Servicios
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='#acupuntura') Acupuntura
                        li
                            a(href='#adultomayor') Adulto Mayor
                        li
                            a(href='#deportiva') Deportiva
                        li
                            a(href='#neurologica') Neurologica
                        li
                            a(href='#respiratoria') Respiratoria
                        li
                            a(href='#traumatologia') Traumatologia

            ul.nav.navbar-nav.navbar-right
                li
                    a(href='https://api.whatsapp.com/send?phone=56956833633') Contactanos
