<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item text">
                    <ul><h3>horario </h3>
                        <li> lunes - viernes 8:00- 20:00</li>
                        <li> sabado-domingo 8:00-14:00</li>
                        <li> cargo extra en horario no establecido</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item"><h3>Services</h3>
                    <ul>
                        <li class="menu_item"><a href="/Respiratoria.html">kinesiologia Respiratoria</a></li>
                        <li class="menu_item"><a href="/Traumatologia.html">kinesiologia en Traumatologia</a></li>
                        <li class="menu_item"><a href="Neurologica.html">kinesiologia en Neurológica</a></li>
                        <li class="menu_item"><a href="/Adultomayor.html">kinesiologia para Adulto Mayor</a></li>
                        <li class="menu_item"><a href="/Deportivo.html">Deportiva</a></li>
                        <li class="menu_item"><a href="/Acupuntura.html">Acupuntura</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 item"><h3>contacto</h3>
                    <ul>
                        <li><a href="kinesishouse@gmail.com"><span
                                class="glyphicon glyphicon-envelope"> Email </span></a></li>
                        <li><a href="tel:+56 9 5683 3633"><span
                                class="glyphicon glyphicon-earphone"> telefono</span></a></li>
                        <li>
                            <a href="https://www.google.com/maps/place/Las+Condes,+Regi%C3%B3n+Metropolitana/@-33.4233405,-70.5896293,12z/data=!3m1!4b1!4m5!3m4!1s0x9662cc2ec8c925bd:0x82ed9a4180d925d0!8m2!3d-33.3989812!4d-70.5573124"><span
                                    class="glyphicon glyphicon-map-marker"> Santiago RM </span></a></li>
                        <li><a href="https://api.whatsapp.com/send?phone=56956833633"><i class="fa-li"><img
                                src="images/icon-whassap.png" width="20" height="20"></i></a> whatssap
                        </li>
                    </ul>
                </div>
            </div>
            <p class="copyright">Paulo Silva Kinesiologo y acupuntura © 2019</p></div>
    </footer>
</div>
