header{
    background: url(public/images/Header/Health.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}
@media screen and (max-width: 670px){
    header{
        min-height: 500px;
    }
    
}
h1 {
  color: #2493c7;
  font-weight: 800;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  font-display: optional;
}
h2 {
  color: #3c1b66;
  font-weight: normal;
  font-size: 35px;
  font-family: Arial;
  text-transform: uppercase;
}
h3 {
  color: #443963;
  font-weight: normal;
  font-size: 30px;
  font-family: Arial;
  text-transform: lowercase;
}
h4 {
  color: #4f4866;
  font-weight: normal;
  font-size: 25px;
  font-family: Arial;
  text-transform: lowercase;
}
h5 {
  color: #656172;
  font-weight: normal;
  font-size: 20px;
  font-family: Arial;
  text-transform: lowercase;
}
h6 {
  color: #747377;
  font-weight: normal;
  font-size: 18px;
  font-family: Arial;
  text-transform: lowercase;
}

p {

  color: #747377;
  font-weight: normal;
  font-size: 18px;
  font-family: 'Lucida Grande';
  text-transform: lowercase;

}