<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>


<body>
  <%- include('../partial/navbar.ejs'); %>

    <header class="header-blog">
        <h1 class="h1-blog">vendaje terapéutico en amputados</h1>
    </header>
    <main class="main-blog">
        <h2>Título del Artículo 1</h2>
        <img class="img-blog" src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p class="p-blog">
            el objetivo de esta técnica de vendaje terapéutico en amputados es generar la modelación del muñón para la futura creación y aplicación de una prótesis que faciliten las actividades de la vida diaria del paciente

            los miembros amputados sin tratamiento de vendajes tienden a ser blandos y deformes con forma de pera muy sensibles al roce, la técnica de vendaje lo que busca es modelar el muñón hacerlo mas esférico y duro ya que la presión del vendaje buscara reducir los edemas y favorecer una condición ovalada en la cual el segmento amputado podrá calzar en cualquier elemento protésico sin complicaciones

            la técnica de vendaje es sencilla en estos casos, se debe aplicar un vendaje en espiga o espiral para el muñón buscara generar un proceso de compresión sobre el muñón lo que favorecerá su modelación y tiempos de recuperación

            se búcara realizar una series de vueltas como en zig zag, aplicando tención sobre el muñón y reduciendo la tensión a nivel mas distal, es ideal usar medias o rollos de vendas elásticas para regular la tensión a aplicar, con objetivo de formar una esfera sobre el muñón
        </p>
        <h3 class="h3-blog">objetivos de modelación del muñón con vendaje terapéutico en amputados</h3>
        <p class="p-blog"> 
          <ul>
              <li>Disminuir el volumen del muñón.</li>
              <li>Reducir el edema y favorecer el retorno venoso y linfático.</li>
              <li>mejorar la circulación .</li>
              <li>Tonifica el tejido flácido.</li>
              <li>mejorar las condiciones propioceptivas y la hipersensibilidad</li>
              <li>Disminución o desaparición del dolor del miembro fantasma.</li>
              <li>facilita los procesos de cicatrización.</li>
              <li>reduce el dolor.</li>
              <li>al finalizar se formara un muñón optima para el uso de prótesis </li>            
          </ul>
        </p>
        <img class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3 class="h3-blog">como vendar un muñón materiales a utilizar en vendaje de muñón</h3>
        <p class="p-blog">
            solo vendaje elástico no adhesivo con el cual se realizara la compresión del muñón, se utilizara la técnica en espiral con forma de zig-zag, y la presión aplicada sera mayor en la zona distal y menor en la proximidad al tronco.
        </p>
        <h2 class="h2-blog">Procedimiento</h2>
        <img class="img-blog" src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p class="p-blog">
            Para comenzar con el vendaje, la persona debe estar en una posición cómoda, idealmente puede hacerse sentado o acostado, la idea es educar a la persona para que a futuro pueda realizar la técnica por si mismo y siga teniendo controles por el profesional sanitario

            primera fase
            es ideal tener a mano 3 cintas adhesivas para al finalizar la técnica se puedan anclar el vendaje y este no se suelte el anclaje inicial ira a cubrir el muñón como una «u» en el plano sagital para luego en la zona distal superior anclarlo con un pequeño dobles en 45° y fijarlo.
            
            segunda fase
            el objetivo luego de anclar el vendaje es realizar y extender la venda de manera oblicua y hacia abajo del muñón , luego subir en dirección contraria igualmente oblicuo con la finalidad de formar capaz constantes y simétricas las cuales presentaran la mayor presión en la zona del muñón y esta ira disminuyendo hacia superior para dar forma y drenaje al mismo tiempo
        </p>
        <h3 class="h3-blog"> vendaje en espiga en muñón</h3>
        <p class="p-blog">
            vendaje en espiga en muñón
            vendaje de muñón en miembro inferior

            este vendaje esta recomendado para personas amputadas del miembro inferior en los cuales se requiere una preparación pre protesica con la ayuda del muñón

            vendajes de amputados de difícil aplicación
            los vendajes mas complicados para aplicar son los que están mas sercanos al tronco, como los transfemorales y los amputados de hombro en los cuales se debe aplicar una tensión a la zona contraria, ya sea anclaje de la vendaje en el hombro contralateral y lo mismo que en la cadera

            vendaje para muñón transfemoral
            la forma correcta de vendar es crear un anclaje con la cadera contralateral para luego, lograr generar la compresión sobre la zona amputada si la amputación es total se debe realizar un cerclaje completo ahora si es parcial se busca el mismo objetivo que en las amputaciones del tipo transfermoral, el mismo procedimiento es para el caso del hombro

            recomendaciones finales

            El muñón tomará forma redonda .

            es importante que la modelación del muñón sea la mas pronto posible cuando lo indique el medico o ya este estabilizada la cicatriz de la cirugía. Se recomienda tener de 2 a 4 vendas para poder intercambiarlas ideal comenzó rentre 10 a 14 días posterior a la intervención.
        </p>
        <img class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
    </main>
    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>
