<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar.ejs'); %>
    <header>
        <h1>historia de los vendajes y sus aplicaciones durante el tiempo</h1>
    </header>
    <main>
        <h2>historia de los vendajes</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p>
            Historia de los vendajes y de las heridas y los vendajes se remonta a los inicios de la humanidad en la cual podemos verificar datos desde la edad de piedra hasta los egipcios en el uso de vendajes y curaciones de heridas en esas épocas el uso se basaba en primera instancia en realizar ciertas cataplasmas con hierbas y hojas grandes con un fin terapéutico y los egipcio son ya conocidos por su gran técnica de vendaje en las modificaciones.
        </p>
        <h3>el hombre de Neandertal y sus vendajes</h3>
        <p>
            según datos arqueológicos encontrados en el valle de Dussel (Alemania), 60.000 años a. C., usó vendajes de tipo hierbas para tratar las quemaduras es natural pensar que en los inicios de la humanidad solo se utilizasen los elementos que te entregaban la naturaleza para la sobrevivencia inclusos eran los mismo s elementos comestibles que eran utilizados como hierbas o elementos de curación.
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>vendajes y curaciones en al antiguo Egipto</h3>
        <p>
            En el papiro de Ebers podemos ver otro paso por la historia de los vendajes los egipcios ya manejaban técnicas para el tratamiento de heridas, con el uso de mezclas de sustancias como la mirra, la goma, el aceite caliente y las resinas de árboles, en forma de emplastos con el cual cubrían las heridas; además, los egipcios fueron los primeros en mencionar los principios básicos del manejo de las heridas: lavar, cubrir e inmovilizar.

            el uso especial que dieron al vendaje fue claramente en el empleo de la momificación, ya como todos conocen envolvían a los personajes mas importante de la aristocracia egiptana en un proceso de vendaje fúnebre para mantener el cuerpo en optimas condiciones para la siguiente vida
        </p>
        <h2>vendaje en la antigua Grecia</h2>
        <img src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p>
            Hipócrates fue el primero en usar vendajes compresivos para el manejo de úlceras venosas, con sustancias similares a las que usaban los egipcios, y recalcó la importancia de las guerras como parte del aprendizaje para los cirujanos y, especialmente, para el manejo de heridas traumáticas.
        </p>
        <h3>La llegada de la polvora y nuevas heridas para vendar</h3>
        <p>
            Con el advenimiento del uso de la pólvora en las guerras, los médicos se vieron enfrentados a un nuevo tipo de heridas. Ambroise Paré, padre de la cirugía, fue el primero en tratar las heridas por armas de fuego con vendajes limpios y cambios frecuentes de ellos, desvirtuando el uso de aceite caliente o hierros encendidos para cauterizar dichas lesiones.
        </p>
        <img src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
        <h3>vendajes en las guerras Napoleonicas</h3>
        <p>En las guerras napoleónicas es muy importante mencionar al barón Dominique-Jean Larrey, gran figura de la historia napoleónica y de la medicina universal, el cual participó en varias de las campañas de Napoleón y creó los primeros sistemas de ambulancia y curaciones con tela “limpia” como tecnica de los vendajes históricos</p>
        <h3>vendajes en la época moderna</h3>
        <p>En la época moderna, con más conflictos bélicos, se hizo necesaria la producción en masa de vendajes para los heridos. La Guerra de Crimea fue la primera en la cual el gobierno inglés comenzó a producir vendajes de lino o cáñamo para dicho fin. Además, es importante mencionar un personaje en este periodo, Florence Nightingale, quien impulsó la atención esmerada de los heridos y el desarrollo de curaciones, como parte importante de su cuidado.
        Los conflictos en América también estimularon el desarrollo de vendajes, como los producidos
        durante la Guerra de Secesión, por el cirujano de la Unión, Lewis Sayre, que utilizaba vendajes de algodón o cáñamo, impregnados en alquitrán, como agente antiséptico y no adherente.
        En Europa, con el descubrimiento de Louis Pasteur de los gérmenes como causantes de infecciones y con base en los estudios de Joseph Lister, se introdujo el uso de vendajes impregnados en ácido carbólico.
        </p>
        <h3>vendajes en los periodos de guerras mundiales</h3>
        <p>
            La Primera Guerra Mundial trajo el uso de vendajes personales para los soldados. Dentro de su equipamiento se incluían vendajes de algodón impregnados con parafina, ideados por el cirujano francés G. Lumière.

            Durante la Segunda Guerra Mundial, en Corea y en Vietnam se continuaron usando vendajes hechos de algodón y gasa, con las únicas propiedades de cubrimiento y absorción limitada, para las heridas. En 1962, George Winters, en Inglaterra, desarrolló un concepto que revolucionaría el manejo de las heridas: el ambiente húmedo. Con base en los estudios con cerdos, demostró que la cicatrización en ambiente húmedo era mucho mejor y más rápida que en ambiente seco. A partir de este concepto se desarrollaron vendajes o apósitos que mantenían la humedad en la herida y evitaban su desecación
        </p>
    </main>
    <%- include('../partial/footer.ejs'); %>
    <%- include('../partial/boton.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>