<!DOCTYPE html>
<html lang="es-CL">

<%- include('../partial/head.ejs'); %>

<body>
  <%- include('../partial/navbar2.ejs'); %>
    <header class="header-blog">
        <h1 class="h1-blog">vendaje terapéutico en linfedema</h1>
    </header>
    <main class="main-blog">
        <h2 class="h2">Título del Artículo 1</h2>
        <img class="img-blog" src="https://via.placeholder.com/800x400" alt="Imagen del artículo 1">
        <p class="p-blog">
            El vendaje terapéutico en linfedema es unas de la herramientas compresivas favoreciendo a la terapia descongestiva compleja principales para tratamiento en  estadio II y III esto es condiciones moderado a grave, favoreciendo las funciones en un drenaje linfático manual. Este tipo de vendaje busca por objetivo cubrir inicialmente la extremidad con varias capas para lograr formar una escayola blanda. Este será el primer paso para lograr una terapia descongestiva compleja.

            Es ideal que en ocasiones iniciales sea el terapeuta quien indique a la persona como es la aplicación del vendaje para lograr independencia en el proceso. La técnica comienza con una tela blanda ideal de gasa que será interna, utilizando venda de tejido elástico. Es ideal aplicar este elemento con algo de lubricante en la piel, la cual puede ser alguna loción hipoalargenica. Por lo general, se aplica un relleno hecho de poliéster, algodón o espuma sobre el vendaje de tejido elástico, de otras capas de vendajes elásticos con una presión menor. La técnica de vendaje es similar a la de vendaje en espiral con objetivo que exista mayor presión en la zona distal y progresivamente ir disminuyendo la presión hacia el cuerpo para favorecer el retorno linfático. El vendaje también se puede utilizar en tórax o tronco aunque ya para esta zona corporal existen trajes compresivos para favorecer el tratamiento al linfedema
            
            
        </p>
        <h3 class="h3-blog">Tipos de vendajes en linfeedemas</h3>
        <p class="p-blog">
            Los vendajes funcionan de forma  diferente de las mangas de compresión, que favorecen a que el líquido linfático circule en la dirección correcta, pero no drenan correctamente la extremidad afectada (no eliminan el líquido de esta). Las mangas generan una presión en reposo, lo que implica que la presión aumenta cuando la extremidad esta en reposo. Cuando la extremidad se moviliza reduce la presión de la manga lo que movilizaría en parte el linfedema. Este tipo de elementos solo es favorable para linfedemas leves, en casos avanzados se requieren métodos más específicos
        </p>
        <img class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 1">
        <h3>Tiempos de uso del vendaje en linfedema</h3>
        <p class="p-blog">
            El vendaje en linfedema debe ser utilizado la mayor cantidad de tiempo posible para lograr tratar el linfedema es ideal usar durante un mes de manera constante y solo usarlo para el baño o el tratamiento con el terapeuta.

            En condiciones de medidas de tratamientos compresivos consideramos a los materiales que se usan en tratamiento del linfedema tanto en vendajes como trajes especiales para mantener  en las fases agudas el mas utilizado es el vendaje multicapa busca por objetivo disminuir el perímetro del edema sobre la extremidad,. Se debe usarlas 24 horas del día, solo quitándolo en las sesiones de terapia o en el momento del baño o aseo personal en cualquier sesión de ejercicios las persona debe usar el elemento en un 100%, esto ayudara al retorno linfático. Cada vendaje es personal y debe adaptarse a cada persona.
            
            Una vez se haya estabilizado el edema se comenzara a la utilización de  prendas de compresión elástico (mangas, medias) este tipo de elementos será determinado para cada persona por la talla. Este tipo de elemento es de uso diario
        </p>
        <h2 class="h2-blog">El vendaje multicapa</h2>
        <img class="img-blog" src="https://via.placeholder.com/800x400" alt="Imagen del artículo 2">
        <p class="p-blog">
            Vendaje  que esta formado por dos tipos de capas: una primera fase que esta hecha de venda de algodón o esponja protege la piel además de otros vendajes elásticos que lograr contener el edema durante las contracciones musculares. Sobre esta capa aplicaremos vendas elásticas que realizan una compresión constante y progresiva a proximal en condiciones de reposo que ayuda a la reabsorción de la linfa.

            No se recomienda aplicar el vendaje sin previamente tener una sesión de drenaje linfático ya que este vendaje solo actuara sobre el componente líquido y no sobre el componente proteico del edema con lo cual sin la técnica manual podría producir fibrosis.
        </p>
        <h3 class="h3-blog">Kinesiotape en linfedema</h3>
        <p class="p-blog">
            Otra forma de aplicar el vendaje sin tantas dificultades es el uso del kinesiotape, es ideal utilizar la técnica en espiral, la complicación que pude fallar según la calidad del vendaje y puede salirse con facilidad, es ideal en ocasiones que el paciente pueda tener un reposo de los vendajes más complejos.
        </p>
        <img class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
        <h3 class="h3-blog">Prendas de compresión elástica</h3>
        <p class="p-blog">
            Este tipo de elementos se comienzan a utilizar una vez se estabilicen los procesos del edemas y este este bastante disminuidos, este tipo de elementos se debe utilizar para mantener el perímetro del miembro afectado, recomendándose el uso durante todo el día.

            Estas prendas pueden fabricarse a medida o pueden adquirirse de manera comercial de tipo estándar acorde con una talla. La presión ejercida por la prenda en los miembros variará entre 20–70 mmHg según la gravedad del edema y de si es en miembro superior o inferior.
        </p>
        <img  class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
        <h3 class="h3-blog">Precauciones y contraindicaciones</h3>
        <p class="p-blog">
            Contraindicaciones en insuficiencia cardiaca y renal aguda

            Evitar generar presiones elevadas que generen síndromes compartimental, esto es cianosis disminución de flujo dolor o parestesias
        </p>
        <img class="img-blog" src="https://via.placeholder.com/800x600" alt="Imagen del subtítulo 3">
    </main>
    <%- include('../partial/footer2.ejs'); %>
    <%- include('../partial/boton2.ejs'); %>
    </body>
    <script src="../js/action.min.js"></script>      
    </html>

