.container
    kinesiologo-profesional
    hr
    .featurette-divider
    .row.featurette
        .col-md-7
           h2profesional-kinesiologo 
           p.text-justify-center
           h2 curriculum profesional licenciado en kinesiologia
           |      Paulo Cesar Alberto Silva Munita
           | Kinesi&oacute;logo- Acupunturista
           | rut:16084370-5
           | Actualmente egresado de Acupuntura en la universidad Finis Terrae. Carrera 3 a&ntilde;os de duraci&oacute;n que complementa mis conocimientos kinesicos ayudando a aliviar y recuperar pronta y eficientemente a mis pacientes.
           h3 Datos acad&eacute;micos
           p.text-justify-center
           | Ense&ntilde;anza B&aacute;sica: Colegio Santa Mar&iacute;a de Santiago
           | Ense&ntilde;anza Media: Colegio Santa Mar&iacute;a de Santiago Ense&ntilde;anza Superior: Universidad Santo Tom&aacute;s a&ntilde;o 2009-2014
           | Post titulos : medicina china acupuntura y moxibustion  Finis Terrae 2016 &ndash; 2018
           | especialista en terapia manual ortopedica (post titulo de terapia manual (2014)
           h3 Antecedentes laborales
           p.text-justify-center
           | Octubre 2013 a la fecha.
           strong Atenci&oacute;n Kin&eacute;sica a domicilios ni&ntilde;os y adultos
           | , producto del emprendimiento personal en el desarrollo, dise&ntilde;o y marketin de mi sitio web www.kinesishouse.cl, desempe&ntilde;ando funciones de 
           strong evaluaci&oacute;n con pacientes
           | , organizando un Plan de recuperaci&oacute;n y de rehabilitaci&oacute;n tratando patolog&iacute;as traumatol&oacute;gicas, respiratorias y neurol&oacute;gicas. Enfocado en la pronta independencia funcional del paciente, brindando un trabajo profesional y de calidad en la comodidad del domicilio particular.
           | basicamente nace este emprendimiento al percatarme de la necesidad de un tratamiento m&aacute;s personalizado para los pacientes, ellos mismos en varias ocasiones me comentan que en los centros de rehabilitacion de las grandes companias se han vuelto un numero olvidando a la persona que esta al frente con la necesidad de recuperacion, mis tratamiento van enfocado a la asistencia total durante el periodo de tratamiento logrando o bajar el dolor que acontece o sencillamente mejorando las funcionalidades perdidas durante el proceso de enfermedad
           h4 Noviembre 2014.
           p.text-justify-center
           | Desempe&ntilde;a funciones en centro Yunus comuna de Pe&ntilde;alol&eacute;n como profesor relator de curso de masajes para las vecinas y vecinos desempleados, otorgando conocimientos para futuras herramientas laborales.
           h4 Internado Cl&iacute;nico profesional (periodo Marzo a Diciembre 2013)
           p.text-justify-center
           strong Experiencia pr&aacute;ctica Laboral profesional
           | &#x25CF; Hospital San Juan de Dios, Unidad de cuidados Intensivos (UCI) 4to turno
           | &#x25CF; Centro de referencia Salvador Allende (CRS)
           | &#x25CF; Instituto Traumatol&oacute;gico
           | &#x25CF; Cl&iacute;nica MED&apos;s Mall Sport
           | &#x25CF; Hospital San Juan de Dios Unidad coronaria y Medicina agudo
           h4 Abril - Diciembre 2012
           p.text-justify-center
           | Proyecto de fondo concursable UST 2012 ejecutado en 
           strong centro de adulto mayor            
           | &ldquo;Entrenamiento f&iacute;sico para la disminuci&oacute;n de factores de riesgos cardiovascular y
           strong prevenci&oacute;n del riesgo de ca&iacute;das
           |  en el adulto mayor del centro del adulto mayor Recoleta&rdquo;,
           | desempe&ntilde;ando funciones de terapia grupal enfocada a 40 adultos mayores con el fin de
           | disminuir factores de riesgos cardiovasculares ejecutando m&eacute;todos de fisiolog&iacute;a del
           | ejercicio con objetivo de disminuir factores de presion arterial y metabolicas, reducir el riesgo de ca&iacute;das enfocando m&eacute;todos de biomec&aacute;nica (principalmente fortalecimientos localizados a cuacricep y tricep sural), adem&aacute;s de tratar
           | individualmente en &aacute;rea de terapia manual (enfocados en dolores asociados a lesiones cronicas) a cada adulto mayor.
           h4 Diplomados y post t&iacute;tulos
           p.text-justify-center
           | 2019 &ndash; post t&iacute;tulo en Medicina china y Moxibusti&oacute;n Universidad Finis Terrae
           | 2015 - Diplomado en Terapia Manual Nivel II especializaci&oacute;n en terapia manual UST
           | 2014 - Diplomado en Terapia Manual Nivel I UST
           h4 Cursos
           p.text-justify-center
           | 2013
           | - Curso de masaje de relajaci&oacute;n y descontracturante en Universidad Santo Tom&aacute;s
           | - Curso de masaje de relajaci&oacute;n y descontracturante en Kinedos
           | - Participaci&oacute;n en las jornadas M&eacute;dico deportivas y ciencia del ejercicio Cl&iacute;nica Meds
           | 2011
           | - Curso en la aplicaci&oacute;n de &ldquo;Tape terap&eacute;utico neuromuscular&rdquo; academia internacional
           | de Taping terap&eacute;utico kin&eacute;sico.
           | - Curso &ldquo;prescripci&oacute;n de ejercicios para el abordaje de factores de riesgos
           | cardiovasculares&rdquo; dictado XXII jornada de kinesiolog&iacute;a en cardiolog&iacute;a.
           | - Participaci&oacute;n XLVIII congreso chileno de cardiolog&iacute;a y cirug&iacute;a cardiovascular.
           h5 Otros datos
           p.text-justify-center
           | 1. dise&ntilde;o y programacion en sitios web (html, css, JS, nodejs, SEO), manejo utilidades pc nivel medio
           | 2. Situaci&oacute;n Militar. Realizado en el batall&oacute;n German&iacute;a de la Escuela Militar a&ntilde;o 2003
           | Santiago 2017. Paulo Silva Munita
           article
             p.text-justify-center
             | Desde el comienzo a la fecha para mi ha sido muy gratificante trabajar de esta manera
             | principalmente el gusto esta en ver la recuperacion en pacientes donde o se les dijo que no podrian volver a caminar
             | o que su problema lumbar era de solucion solo quirurgica, he atendido a pacientes de patologias respiratorias ni&ntilde;os y adultos, con necesidad de aspiraci&oacute;n de secreciones
             | pacientes amputados en fase protesica, operados de protesis total de cadera y rodilla, secuelados de ACV y meningitis etc.
             | no duden en contactarme si necesitan mayor informaci&oacute;n o detalle...
             | +569 56833633

        .col-md-5
            .text-center
                img.img-responsive.img-thumbnail(src='images/Workers/PauloMini.jpg' alt='Kinesiologo a domicilio foto rostro')
