     <!-- tabla de precios-->
     <section id="pricing" class="f-col">
      <h2 class="heading-primary">Precio de Terapias</h2>
      <div class="card-container f-row">
        <div class="product" id="tenor">
        <h2 id="level">Fuera de Santiago</h2>
        <h2 class="price">$40.000</h2>
        <ol>
          <li>Chicureo (colina).</li>
          <li>Buin.</li>
          <li>Calera de Tango.</li>
          <li>Curacavi</li>
        </ol>
        <button class="btn btn-card">Select</button>
      </div>
      
      <div class="product active-product" id="bass">
        <h2 id="level">Valor a domicilio</h2>
        <h2 class="price">$30.000</h2>
        <ol>
          <li>Respiratorio</li>
          <li>Traumatologia.</li>
          <li>Neurologia.</li>
          <li>Acupuntura.</li>
        </ol>
        <button class="btn btn-card">Select</button>
      </div>
      <div class="product" id="valve">
        <h2 id="level">Valor mensual</h2>
        <h2 class="price">$300.000</h2>
        <ol>
          <li>Plan mensual</li>
          <li>10 sesiones</li>
          <li>Reembolso isapres</li>
          <li>En la comodidad del Hogar</li>
        </ol>
        <button class="btn btn-card">Select</button>
      </div>
      </div>
    </section>
    <!-- fin tabla de precios-->