     <!--titulos de features-->
     <section class="container">
        <h2 class="h2-title">Blog </h2>
        <p class="p-content">¡Descubre los Mejores Consejos para una Recuperación Exitosa en Nuestro Blog!
          Información Valiosa para Cuidar tu Salud y Bienestar, ¡No te lo Pierdas!
          Mantente Informado sobre las Últimas Tendencias en Rehabilitación y Kinesiología.
         
      </p>
  </section>
      <!--imagenes features tipo blog-->
      <section class="container2">
        <div class="item item-large">
          <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio">
            <img class="full-image" src="/public/images/Respiratoria.webp" alt="kinesiologia y patologias respiratorias">
          <div class="overlay">
            <span>terapia respiratoria</span>
            <div>
              <h2>Kinesiologia respiratoria</h2>
              <p>niños y adultos todo lo que debes saber</p>
            </div>
          </div>
            
          </a>
          
        </div>
        <div class="item item-small">
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia">
            <img src="/public/images/traumatologia/fractura-lumbar.webp" alt="traumatologia kinesiologo">
          <div class="overlay">
            <span>Traumatologia</span>
            <div>
              <h2>rehabilitacion de lesiones </h2>
              <p>lesiones comunes, operaciones y más</p>
            </div>
          </div>

          </a>
          
        </div>
        <div class="item item-small">
          <a href="http://www.kinesishouse.cl/kinesiologo-neurologia">
            <img src="/public/images/neurologia/neurologia1.webp" alt="rehabilitacion en neurologia">
          <div class="overlay">
            <span>Neurologia</span>
            <div>
              <h2>terapia de Kabat y Bobath</h2>
              <p>forma de aplicaciones y patologias comunes</p>
            </div>
          </div>

          </a>
          
        </div>
        <div class="item item-small">
          <a href="http://www.kinesishouse.cl/kinesiologo-adulto-mayor">
            <img src="/public/images/adulto_mayor/Obesidad-en-la-tercera-edad.webp" alt="kinesiologia adulto mayor">
          <div class="overlay">
            <span>Adulto mayor | geriatria</span>
            <div>
              <h2>¿Como recuperar a los abuelos?</h2>
              <p>no es dificil su tratamieto click para saber más</p>
            </div>
          </div>

          </a>
          
        </div>
        <div class="item item-small">
          <a href="http://www.kinesishouse.cl/kinesiologo-deportivo">
            <img src="/public/images/Deporte.webp" alt="kine deportivo">
            <div class="overlay">
              <span>Deportivo</span>
              <div>
                <h2>Lesiones en atletas</h2>
                <p>¿Es diferente la rehabilitacion en deporte?</p>
              </div>
            </div>

          </a>
         
        </div>
        <div class="item item-smell">
          <a href="#">
            <img src="/public/images/Acupuntura.webp" alt="medicina china y acupuntura">
          <div class="overlay">
            <span>Medicina China</span>
            <div>
              <h2>Acupuntura, moxibustion y ventosas</h2>
              <p>un complemento ideal en rehabilitación</p>
            </div>
          </div>

          </a>
          
        </div>
        <div class="item item-smell">
          <a href="#">
            <img src="/public/images/traumatologia/tape/pie-peñalolen-tape.webp" alt="vendaje terapeutico">
            <div class="overlay">
              <span>Vendaje terapeutico</span>
              <div>
                <h2>todo lo que debes saber sobre vendajes</h2>
                <p>aplicaciones formas y tipos</p>
              </div>
            </div>

          </a>
         
        </div>
        <div class="item item-smull ">
          <a href="#">
            <img src="/public/images/traumatologia/balonterapeutico-1024.webp" alt="kinesiologia v/s fisioterapia">
          <div class="overlay">
            <span>Fisioterapia</span>
            <div>
              <h2>¿Que diferencia a la Fisioterapia de la Kinesiologia?</h2>
              <p>averigualo aqui y sal de la duda</p>
            </div>
          </div>

          </a>
          
        </div>
      </section>