   <!-- inicio boton de llamadas-->
   <div class="boton-flotante boton-activo" data-toggle="botones-flotantes">
    <a href="#"><img src="/assets/phone-call.svg" class="nav__icon" alt="abrir telefonos">
      </a>
  
</div>
  <ul class="boton-flotantes" id="botones-flotantes">
    <li><a class="back-blue" href="tel:+56956833633" target="_blank"><img class="center-img1" src="/assets/phone-call.svg"  alt="telefono">
    </a></li>
    <li><a class="back-green" href="https://api.whatsapp.com/send?phone=56956833633" target="_blank"><img class="center-img" src="/assets/WhatsApp.svg" alt="wassap">
      </a></li>
  </ul>
  <!--fin boton llamadas-->