 <!-- comentarios pacientes-->
 <section class="container">
    <h2 class="h2-title">Comentarios Positivos de nuestros clientes</h2>
    <p class="p-content">Aqui puedes revisar que tan contentos estan los clientes con el servicio de rehabilitacion entregado, fuente fiable de google, personas reales</p>
    <div class="comments-container">
        <div id="comment">
            <img class="comment-image" src="https://us.123rf.com/450wm/alekseyvanin/alekseyvanin1705/alekseyvanin170500978/77418653-usuario-icono-de-cuenta-plana-bot%C3%B3n-redondo-simple-signo-circular-vector-dise%C3%B1o-de-estilo.jpg" alt="Comentario 1">
            <h3>Patricia pizarro</h3>
            <p class="comment-text">Muy empático, profesional y responsable,  con mucho dominio de su especialidad,         dedicado, ya que explica en términos sencillos el tratamiento.
                He tenido una muy buena recuperación desde la primera sesión hasta ahora.
                Cuenta con el equipamiento necesario para realizar la terapia.
                Mi estado de ánimo ha cambiado por los avances que he logrado, estoy muy contenta con esto. Me da seguridad y confianza en cada sesión. Lo recomiendo de todas maneras! ⭐⭐⭐⭐⭐</p>
            
        </div>
        <div id="comment">
            <img class="comment-image" src="https://us.123rf.com/450wm/alekseyvanin/alekseyvanin1705/alekseyvanin170500978/77418653-usuario-icono-de-cuenta-plana-bot%C3%B3n-redondo-simple-signo-circular-vector-dise%C3%B1o-de-estilo.jpg" alt="Comentario 1">
            <h3>Valeria Rubilar klagges</h3>
            <p class="comment-text">Paulo, tus terapias son increibles.. mi familia en diversas ocasiones se ha tratado contigo y la verdad nos da resultados positivos siempre. En la comodidad del hogar y a un precio asequible, gracias por tu profesionalismo.
                100% recomendado.. ⭐⭐⭐⭐⭐</p>
        </div>
        <div id="comment">
            <img class="comment-image" src="https://us.123rf.com/450wm/alekseyvanin/alekseyvanin1705/alekseyvanin170500978/77418653-usuario-icono-de-cuenta-plana-bot%C3%B3n-redondo-simple-signo-circular-vector-dise%C3%B1o-de-estilo.jpg" alt="Comentario 1">
            <h3>Patricia Pérez</h3>
            <p class="comment-text">Excelente profesional, dedicado, preocupado. Se interioriza con la situación del paciente y explica muy bien para que es cada tipo de ejercicio , la frecuencia y cantidad de veces que necesita el paciente. Lo recomiendo 100%.⭐⭐⭐⭐⭐</p>
        </div>
        <div id="comment">
            <img class="comment-image" src="https://us.123rf.com/450wm/alekseyvanin/alekseyvanin1705/alekseyvanin170500978/77418653-usuario-icono-de-cuenta-plana-bot%C3%B3n-redondo-simple-signo-circular-vector-dise%C3%B1o-de-estilo.jpg" alt="Comentario 1">
            <h3>Denisse Ureta-Cox</h3>
            <p class="comment-text">Muy buen profesional, me gustó mucho que combinara la medicina tradicional con medicina alternativa. Me sentí muy cómoda en la terapia y recomiendo su trabajo 100%⭐⭐⭐⭐⭐.</p>
        </div>
        <div id="comment">
            <img class="comment-image" src="https://us.123rf.com/450wm/alekseyvanin/alekseyvanin1705/alekseyvanin170500978/77418653-usuario-icono-de-cuenta-plana-bot%C3%B3n-redondo-simple-signo-circular-vector-dise%C3%B1o-de-estilo.jpg" alt="Comentario 1">
            <h3>johanna ferrada cubillos</h3>

            <p class="comment-text">Excelente profesional, nos ayudó mucho con nuestro hijo. Lo recomiendo 100% ⭐⭐⭐⭐⭐</p>
        </div>
    </div>
    <a class="view-more-btn" href="https://www.google.com/search?q=kinesis+house&amp;oq=kines&amp;aqs=chrome.0.35i39j69i57j0i67l6j0i433i512j0i67.2430j0j15&amp;sourceid=chrome&amp;ie=UTF-8#lrd=0x9662c3de4ff84d79:0x7d9e5b3dd403ebc0,1,,,,"  target="_blank">Ver más comentarios en Google My Business</a>
   
</section>