 <!--comentarios clientes-->
 <section class="container section">

    <div class="row">
      <h2 class="heading-primary center">Opiniones pacientes</h2>

      

      <div class="col s12">
        <div class="carousel carousel-slider">
          <a class="carousel-item" href=""><img src="/public/images/opinion_paciente1.jpg"></a>
          <a class="carousel-item" href=""><img src="/public/images/opinionpaciente2.jpg"></a>
          <a class="carousel-item" href=""><img src="/public/images/opinionpaciente3.jpg"></a>
          <a class="carousel-item" href=""><img src="/public/images/opinonpaciente4.jpg" ></a>
          <a class="carousel-item" href=""><img src="/public/images/opinionpaciente5.jpg"></a>
        </div>

      </div>

     
    </div>
    <div class="row center">
      <a target="_blank" href="https://www.google.com/search?q=kinesis+house&oq=kines&aqs=chrome.0.35i39j69i57j0i67l6j0i433i512j0i67.2430j0j15&sourceid=chrome&ie=UTF-8#lrd=0x9662c3de4ff84d79:0x7d9e5b3dd403ebc0,1,,,," class="btn waves-effect waves-light center">ver mas
        <i class="material-icons right">send</i>
      </a>
    </div>


</section>

<!-- fin comentarios clientes-->