<footer class="footer">
    <div class="footer-section">
        <h3>Contacto</h3>
        <ul>
            <li>Dirección: Ñuñoa, Peñalolén, Las Condes, Chicureo, Vitacura, La Reina</li>
            <li>Teléfono: +569 56833633</li>
            <li>Email: kinesishouse@gmail.com</li>
        </ul>
    </div>
    <div class="footer-section politicas">
        <h3>Políticas</h3>
        <ul>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Política de cookies</a></li>
            <li><a href="#">Aviso legal</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Redes Sociales</h3>
        <div class="footer-social">
            <a href="https://www.facebook.com/kinesis.house.3" target="_blank">
               <img src="../assets/Facebook_logo_36x36.svg"  alt="facebook">
            </a>
            <a href="https://www.instagram.com/kinesishouse2" target="_blank">
               <img src="../assets/Instagram.svg" alt="instagram">
            </a>
            <a href="https://cl.linkedin.com/in/paulo-silva-munita-84272494" target="_blank">
              <img src="../assets/Linkedin_icon.svg" alt="linkedind">
            </a>
            <a href="https://www.twitter.com/@pa_ce_al" target="_blank">
               <img src="../assets/Logo_of_Twitter.svg" alt="twitter">
            </a>
        </div>
    </div>
</footer>