<footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">kinesis house</h5>
          <p class="grey-text text-lighten-4">dedicados a los procesos de rehabilitacion a domicilio en cada comuna de la region metropolitana.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Legal</h5>
          <ul>
            <li><a class="white-text" sizes="48x48" href="http://www.kinesishouse.cl/aviso-legal">aviso legal</a></li>
            <li><a class="white-text " sizes="48x48" href="http://www.kinesishouse.cl/politica-de-privacidad">pol&iacute;tica de privacidad</a></li>
            <li><a class="white-text " sizes="48x48" href="http://www.kinesishouse.cl/politica-de-cokies">pol&iacute;tica de cokies</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <a>
            <ul>
              <li><a class="white-text " sizes="48x48" href="http://www.kinesishouse.cl/kinesiologo-respiratorio">kinesi&oacute;logo respiratorio</a></li>
              <li><a class="white-text " sizes="48x48" href="http://www.kinesishouse.cl/kinesiologo-traumatologia">kinesi&oacute;logo en traumatolog&iacute;a</a></li>
              <li><a class="white-text " sizes="48x48" href="http://www.kinesishouse.cl/kinesiologo-neurologia">kinesi&oacute;logo en neurolog&iacute;a</a></li>
              <li><a class="white-text " sizes="48x48" href="http://www.kinesishouse.cl/kinesiologo-adulto-mayor">kinesi&oacute;logo para adulto mayor</a></li>
              <li><a class="white-text " sizes="48x48" href="http://www.kinesishouse.cl/kinesiologo-deportivo">kinesi&oacute;logo deportivo</a></li>
              <li><a class="white-text " sizes="48x48" href="http://www.kinesishouse.cl/kinesiologia-domicilio">kinesiolog&iacute;a FAQ</a></li>
            </ul>

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3 " href="">Paulo Silva Munita</a>
      </div>
    </div>
  </footer>
  
  


  <!-- compiled and minified javascript 
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script  type="text/javascript" src="js/funciones.min.js"></script>-->
   <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>