<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#317EFB">
    <!-- meta etiquetas de region especifica del sitio -->
    <meta name="google-site-verification" content="k0ifTL9HEpSv6O2o5-koMb6yDs9HI_Z2hLJRUNrDto8">
    <meta name="geo.region" content="CL-RM">
    <meta name="geo.placename" content="Santiago">
    <meta name="geo.position" content="-33.44889;-70.669265">
    <meta name="ICBM" content="-33.44889, -70.669265">
    <meta name="robots" content=" <%= index%> ">
    <meta name="keywords" content="kinesiologo a domicilio, kinesiologia, kinesiologo, acupuntura, rehabilitacion, respiratorio, traumatologia, neurologia, deportivo, adulto mayor, medicina china">
    <meta name="description" content=" <%= metaDescripcion%> ">
    <link rel="canonical" href=" <%= canonical%> ">
    <link rel="icon" sizes="192x192" type="images/png" href="images/Favicon.webp">
    <link rel="apple-touch-icon" sizes="192x192" href="images/Favicon.png"/>
    <!--   metas de redes sociales-->
    <meta property="fb:app_id" content="342670069681285">
    <meta property="og:locale" content="es_CL">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.kinesishouse.cl/images/Respiratoria_jpg.webp">
    <meta property="og:image:type" content="image/webp">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="300">
    <meta property="og:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
    <meta property="og:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
    <meta property="og:url" content="http://www.kinesishouse.cl/">
    <meta property="og:site_name" content="kinesis house">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
    <meta name="twitter:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
   
    <!--link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" as="script">
    <link rel="preload" href="js/funciones.min.js" as="script">
    <link rel="preload" href="js/tagmanager.min.js"as="script">
    <link rel="preload" href="https://www.googletagmanager.com/gtag/js?id=UA-61824422-1" as="script">
    <link rel="preload" href="js/analitic.min.js" as="script">
    
   
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="/public/css/blog.min.css">
   <link rel="stylesheet" href="/public/css/style.min.css">

    <title><%= pageTitle%></title>
    <script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            "@type" : "LocalBusiness",
            "name" : "kinesiólogo a Domicilio",
            "image" : "http://www.kinesishouse.cl/images/Respiratoria_jpg.webp",
            "telephone" : "+56956833633",
            "email" : "kinesishouse@gmail.com",
            "address" : {
            "@type" : "PostalAddress",
            "addressLocality" : "Santiago Región Metropolitana",
            "addressRegion" : "metropolitana",
            "addressCountry" : "chile",
            "postalCode" : "7910000"
            },
            "openingHoursSpecification" : {
            "@type" : "OpeningHoursSpecification",
            "dayOfWeek" : {
            "@type" : "DayOfWeek",
            "name" : "Lunes a Sábado 8:00-20:00"
            }
            },
            "url" : "http://www.kinesishouse.cl/",
            "review" : {
            "@type" : "Review",
              "description": "Kinesiólogo a domicilio que presta atención en la comodidad de su hogar. Servicio integral de kinesiología para traumatología, respiratorio, neurología, con todos los equipos necesarios para la mejor terapia. Atiende en Peñalolén, Las Condes, Vitacura, La Reina, Ñuñoa, Barnechea y La Florida, Chile. Horario de atención: lunes a viernes de 8:00 a 20:00, sábado horario especial de 9:00 a 15:00, domingo sin atención. Teléfono: +56956833633. Email: kinesishouse@gmail.com",
            "author" : {
            "@type" : "Person",
            "name" : "Paulo Silva"
            },
            "reviewBody" : "servicio de kinesiología a domicilio "
            }
            }
    </script>
       
</head>