
<header>

<div class="navbar-fixed">
<nav class="green">
    <div class="container nav-wrapper">
        <a href="images/Logo.jpg" class="brand-logo right">kinesis house</a>
        <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right-align hide-on-med-and-down">
                    <li><a href="/">inicio</a></li>
                    <li><a href="/about">nosotros</a></li>
                    <li><a href="/contacto">contacto</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">blog<i class="material-icons right">arrow_drop_down</i></a></li>
                    
            </ul>
    </div>
    <ul id="dropdown1" class="dropdown-content">
            <li><a href="/kinesiologo-respiratorio">kinesiologo respiratorio</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologo-traumatologia">kinesiologo traumatologia</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologo-neurologia">kinesiologo neurologia</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologo-adulto-mayor">kinesiologo adulto mayor</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologo-deportivo">kinesiologo deportivo</a></li>
            <li><a href="/kinesiologia-domicilio"> FAQ kinesiologia</a></li>
    
    </ul>
   
</nav>
</div>
<ul class="sidenav grey lighten-2" id="menu-responsive">
        <li><a href="/">inicio</a></li>
        <li><a href="/about">nosotros</a></li>
        <li><a href="/contacto">contactos</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
       
</ul>
</header>