<header>
   
    <!-- Menú mobile -->
    <nav class="navbar">
        <!-- Menú desktop -->
   <div class="navbar-desktop">
       <div class="navbar__container">
        <span class="navbar__title"><a href="/">Kinesis House</a> </span>
        <a href="#" class="dropdown1__link">Servivios </a>
           <div class="dropdown1">
               <a href="#" class="dropdown1__link">
                   Blog
                   <img src="./assets/down.svg" class="dropdown_1_arrow" alt="felcha-abajo">
               </a>
               <div class="dropdown1__content">
                   <ul class="dropdown1__sub">
                       <li class="dropdown1__li">
                           <a href="/kinesiologo-traumatologia" class="dropdown1__anchor">kinesiologo traumatologia</a>
                       </li>
                       <li class="dropdown1_li">
                           <a href="/kinesiologo-neurologia" class="dropdown1__anchor">kinesiologo neurologia</a>
                       </li>
                       <li class="dropdown1__li">
                           <a href="/kinesiologo-respiratorio" class="dropdown1__anchor">kinesiologo respiratorio</a>
                       </li>
                       <li class="dropdown1__li">
                           <a href="/kinesiologo-adulto-mayor" class="dropdown1__anchor">kinesiologo geriatria</a>
                       </li>
                       <li class="dropdown__li">
                           <a href="/kinesiologo-deportivo" class="dropdown__anchor">kinesiologo deportivo</a>
                       </li>
                       <li class="dropdown1__li">
                           <a href="/acupuntura" class="dropdown1__anchor">kinesiologo + acupuntura</a>
                       </li>
                   </ul>
               </div>
           </div>
           <div class="dropdown1">
               <a href="#" class="dropdown1__link">
                   Contacto
                   <img src="./assets/down.svg" class="dropdown1__arrow" alt="flecha abajo">
               </a>
               <div class="dropdown1__content">
                   <ul class="dropdown1__sub">
                       <li class="dropdown1__li">
                           <a href="/contacto" class="dropdown1__anchor">kinesishouse@gmail.com</a>
                       </li>
                       <li class="dropdown1__li">
                           <a href="tel:+56956833633"class="dropdown1__anchor" target="_blank">+569 56833633</a>
                       </li>
                   </ul>
               </div>
           </div>
           <a href="/about" class="dropdown1__link">Nosotros</a>

           <a href="/contacto" class="dropdown1__link">
               Ayuda
           </a>
       </div>
   </div>
     
   </nav>
    <!-- menu mobile-->
     <nav class="nav">
   
        <a href="#menu" class="nav__menu">
            <img src="./assets/menu.svg" class="nav__icon" alt="abrir menu">
        </a>
        <a href="#" class="nav__menu nav__menu--second">
            <img src="./assets/close.svg" class="nav__icon" alt="cerrar menu">
        </a>
        <ul class="dropdown" id="menu">
            <li class="dropdown__list">
                <a href="/" class="dropdown__link">
                    <img src="./assets/house.svg" class="dropdown__icon" alt="menu abajo">
                    <span class="dropdown__span">Inicio</span>
                </a>
            </li>
            <li class="dropdown__list">
                <a href="#" class="dropdown__link">
                    <img src="./assets/projects.svg" class="dropdown__icon" alt="projectos">
                    <span class="dropdown__soan">Proyectos</span>
                    <img src="./assets/down.svg" class="dropdown__arrow" alt="flecha abajo">
                    <input type="checkbox" class="dropdown__check">
                </a>
                <div class="dropdown__content">
                    <ul class="dropdown__sub">
                        <li class="dropdown__li">
                            <a href="/kinesiologo-traumatologia" class="dropdown__anchor">kinesiologo traumatologia</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="/kinesiologo-neurologia" class="dropdown__anchor">kinesiologo neurologia</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="/kinesiologo-respiratorio" class="dropdown__anchor">kinesiologo respiratorio</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="/kinesiologo-adulto-mayor" class="dropdown__anchor">kinesiologo geriatria</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="/kinesiologo-deportivo" class="dropdown__anchor">kinesiologo deportivo</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="/acupuntura" class="dropdown__anchor">kinesiologo + acupuntura </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="dropdown__list">
                <a href="#" class="dropdown__link">
                    <img src="./assets/email.svg" class="dropdown__icon" alt="email">
                    <span class="dropdown__soan">Contacto</span>
                    <img src="./assets/down.svg" class="dropdown__arrow" alt="flecha abajo">
                    <input type="checkbox" class="dropdown__check">
                </a>
                <div class="dropdown__content">
                    <ul class="dropdown__sub">
                        <li class="dropdown__li">
                            <a href="/contacto" class="dropdown__anchor">kinesishouse@gmail.com</a>
                        </li>
                        <li class="dropdown__li">
                            <a href="tel:+56956833633" class="dropdown__anchor" target="_blank">+569 56833633</a>
                        </li>
                        
                        
                    </ul>
                </div>
            </li>
            <li class="dropdown__list">
                <a href="/contacto" class="dropdown__link">
                    <img src="./assets/help.svg" class="dropdown__icon" alt="ayuda">
                    <span class="dropdown__span">Ayuda</span>
                </a>
            </li>
            <li class="dropdown__list">
                <a href="/about" class="dropdown__link">
                    <img src="./assets/help.svg" class="dropdown__icon" alt="ayuda">
                    <span class="dropdown__span">Nosotros</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- menu mobile -->   
</header>