<div class="navbar-fixed">
<nav class="green">
    <div class="container nav-wrapper">
        <a href="images/Logo.jpg" class="brand-logo right">kinesis house</a>
        <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right-align hide-on-med-and-down">
                    <li><a href="/">inicio</a></li>
                    <li><a href="/about">nosotros</a></li>
                    <li><a href="/contacto">contacto</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">blog<i class="material-icons right">arrow_drop_down</i></a></li>
                    
            </ul>
    </div>
    <ul id="dropdown1" class="dropdown-content">
            <li><a href="/kinesiologo-respiratorio">kinesi&oacute;logo respiratorio</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologo-traumatologia">kinesiol&oacute;go traumatolog&iacute;a</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologo-neurologia">kinesi&oacute;logo neurolog&iacute;a</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologo-adulto-mayor">kinesi&oacute;logo adulto mayor</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologo-deportivo">kinesi&oacute;logo deportivo</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologia-domicilio"> FAQ kinesiolog&iacute;a</a></li>
    
    </ul>
     <ul id="dropdown2" class="dropdown-content grey lighten-2">
            <li><a href="/kinesiologo-respiratorio">kinesi&oacute;logo respiratorio</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologo-traumatologia">kinesiol&oacute;go traumatolog&iacute;a</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologo-neurologia">kinesi&oacute;logo neurolog&iacute;a</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologo-adulto-mayor">kinesi&oacute;logo adulto mayor</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologo-deportivo">kinesi&oacute;logo deportivo</a></li>
            <li class="divider"></li>
            <li><a href="/kinesiologia-domicilio"> FAQ kinesiolog&iacute;a</a></li>
    
    </ul>
    
</nav>
</div>
<ul class="sidenav grey lighten-2" id="menu-responsive">
        <li><a href="/">inicio</a></li>
        <li><a href="/about">nosotros</a></li>
        <li><a href="/contacto">contactos</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Blog<i class="material-icons right">arrow_drop_down</i></a></li>
       
</ul>
<header>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><%= tiTuloh1%></h1>
        <div class="row center">
          <h5 class="header col s12 light">servicio de rehabilitaci&oacute;n a domicilio</h5>
        </div>
        <div class="row center">
          <a href="tel:+56956833633"  class="btn-large waves-effect waves-light teal lighten-1">clic para llamar</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/Header/Health.webp" alt="rehabilitacion kinesica"></div>
  </div>
  </header>


<!--navbar 1-->
    
     