<!--team section-->
<div class="row blue darken-2" id="teamsection">
    <div class="center-align" >
       <li class="white-text" id="team">TEAM</li>
       <li id="teamdescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</li>
       <li class="black-text" id="spacer"><img src="img/spacer2.png" alt=""></li>
    </div>
    <div class="container">
    <div class="col s12 m4 l4  center-align">
      <div class="card-panel blue darken-1">
        <img src="img/team1.png" alt="">
        <div class="team1border">
  
        </div>
        <li class="white-text" id="teamname">Faridul Haque</li>
        <li class="white-text" id="teamrole">Graphic Designer</li>
  
        <div class="team2border">
  
        </div>
        <i class="mdi mdi-facebook mdi-24px white-text"></i>
        <i class="mdi mdi-twitter mdi-24px white-text"></i>
        <i class="mdi mdi-linkedin mdi-24px white-text"></i>
        <i class="mdi mdi-google mdi-24px white-text"></i>
      </div>
  
    </div>
  
    <div class="col s12 m4 l4  center-align">
      <div class="card-panel blue darken-1">
        <img src="img/team2.png" alt="" >
        <div class="team1border">
  
        </div>
        <li class="white-text" id="teamname">Angela Faud</li>
        <li class="white-text" id="teamrole">Fasion Designer</li>
  
        <div class="team2border">
  
        </div>
        <i class="mdi mdi-facebook mdi-24px white-text"></i>
        <i class="mdi mdi-twitter mdi-24px white-text"></i>
        <i class="mdi mdi-linkedin mdi-24px white-text"></i>
        <i class="mdi mdi-google mdi-24px white-text"></i>
      </div>
  
    </div>
  
    <div class="col s12 m4 l4  center-align">
      <div class="card-panel blue darken-1">
        <img src="img/team3.png" alt="">
        <div class="team1border">
  
        </div>
        <li class="white-text" id="teamname">Fahan Faud</li>
        <li class="white-text" id="teamrole">UX UI Designer</li>
  
        <div class="team2border">
  
        </div>
        <i class="mdi mdi-facebook mdi-24px white-text"></i>
        <i class="mdi mdi-twitter mdi-24px white-text"></i>
        <i class="mdi mdi-linkedin mdi-24px white-text"></i>
        <i class="mdi mdi-google mdi-24px white-text"></i>
      </div>
  
    </div>
  </div>
  
  </div>