  <!--tabla de precios-->
  <section class="price-tables">
    <h2 class="h2-title">Precios</h2>
    <p class="p-content">Precios Accesibles para Todos Nuestros Servicios de Kinesiología a Domicilio.
        Encuentra el Plan que se Ajuste a tus Necesidades y Presupuesto.
        No Dejes que el Costo sea un Obstáculo para tu Recuperación.
        <strong> el precio es por sesión</strong>
    </p>
  <div class="price-table">
      <div class="table-header">Fuera de Stgo.</div>
      <div class="price">$40,000</div>
      <ul class="features">
          <li>Chicureo</li>
          <li>Buin</li>
          <li>Calera de Tango</li>
      </ul>
      <a href="#" class="btn">Comprar</a>
  </div>
  <div class="price-table">
      <div class="table-header">Plan Estándar</div>
      <div class="price">$30,000</div>
      <ul class="features">
          <li>Kine Respiratorio</li>
          <li>kine Traumatologia</li>
          <li>Kine Neurologia</li>
      </ul>
      <a href="#" class="btn">Comprar</a>
  </div>
  <div class="price-table">
      <div class="table-header">Plan con Dcto.</div>
      <div class="price">$25,000</div>
      <ul class="features">
          <li>La Reina</li>
          <li>Peñalolen</li>
          <li>Macul</li>
      </ul>
      <a href="#" class="btn">Comprar</a>
  </div>
</section>