     <!-- tabla de precios-->
     <section id="pricing" class="f-col" itemscope itemtype="https://schema.org/Product">
      <h2 class="heading-primary"itemprop="name">Precio Terapias Kinesiologo</h2>
      <div class="card-container f-row">
        <div class="product" id="tenor" itemscope itemtype="https://schema.org/Offer">
        <h2 id="level" itemprop="name">Fuera de Santiago</h2>
        <h2 class="price" itemprop="name">$40.000</h2>
        <ol itemprop="eligibleRegion" itemscope itemtype="https://schema.org/AdministrativeArea">
          <li itemprop="name">Chicureo (colina).</li>
          <li itemprop="name">Buin.</li>
          <li itemprop="name">Calera de Tango.</li>
          <li itemprop="name">Curacavi</li>
        </ol>
        <button class="btn btn-card" itemprop="url">Select</button>
      </div>
      
      <div class="product active-product" id="bass" itemscope itemtype="https://schema.org/Offer">
        <h2 id="level" itemprop="name">Valor a domicilio</h2>
        <h2 class="price" itemprop="price">$30.000</h2>
        <ol itemprop="category" itemscope itemtype="https://schema.org/MedicalSpecialty">
          <li itemprop="name"> Kinesiologo Respiratorio</li>
          <li itemprop="name"> kinesiologo Traumatologia.</li>
          <li itemprop="name"> kinesiologo Neurologia.</li>
          <li itemprop="name">kinesiologo + Acupuntura.</li>
        </ol>
        <button class="btn btn-card" itemprop="url">Select</button>
      </div>
      <div class="product" id="valve"itemscope itemtype="https://schema.org/Offer" >
        <h2 id="level" itemprop="name">Valor mensual Kinesiologia</h2>
        <h2 class="price" itemprop="price">$300.000</h2>
        <ol itemprop="category" itemscope itemtype="https://schema.org/OfferCatalog">
          <li itemprop="name">Plan mensual</li>
          <li itemprop="name">10 sesiones</li>
          <li itemprop="name">Reembolso isapres</li>
          <li itemprop="name">En la comodidad del Hogar</li>
        </ol>
        <button class="btn btn-card" itemprop="url">Select</button>
      </div>
      </div>
    </section>
    <!-- fin tabla de precios-->