<!--team section-->
<div class="row blue darken-2">

    <h2 class="white-text">PRECIOS DE KINESIOLOGIA A DOMICILIO</h2>

      <div class="row">
    <div class="col s12 m4 l4  center-align">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Kinesiologia a domicilio</span>
          <ul>
              <li>precio x sesion $25000</li>
              <li>valor 10 sesiones $250.000</li>
              <li>incluye todos los elementos de fisioterapia</li>
          </ul>
        </div>
       
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col s12 m4 l4  center-align">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Ckinesiologo con aspiracion de secreciones</span>
          <p>tecnica especifica de kinesiologia respiratoria</p>
          <ul>
              <li>$30.000</li>
              <li>incluye todo tipo de insumos requerido</li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col s12 m6 l4  center-align">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Acupuntura a domicilio</span>
          <p>servicio aproximado de 1 hr a 1 hr 40 mi.</p>
          <ul>
              <li>$30.000</li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
    
  </div>