<!--team section-->
<div class="row blue darken-2" >
    <div class="center-align" >
       <li class="white-text" id="team">PRECIO</li>
       <li >precio de Kinesiologia a domicilio</li>
       <li class="black-text" ><img src="img/spacer2.png" alt=""></li>
    </div>
    <div class="container">
    <div class="col s12 m4 l4  center-align">
      <div class="card-panel blue darken-1">
        <!--img src="img/team1.png" alt="" -->
        <div class="team1border">
  
        </div>
        <li class="white-text" >sesion de Kinesiologia x hora</li>
        <li class="white-text" > $25000</li>
        <li class="white-text" > valor 10 sesiones $250.000</li>
  
        <div class="team2border">
  
        </div>
       <!-- <i class="mdi mdi-facebook mdi-24px white-text"></i>
        <i class="mdi mdi-twitter mdi-24px white-text"></i>
        <i class="mdi mdi-linkedin mdi-24px white-text"></i>
        <i class="mdi mdi-google mdi-24px white-text"></i>-->
      </div>
  
    </div>
  
    <div class="col s12 m4 l4  center-align">
      <div class="card-panel blue darken-1">
        <!--img src="img/team2.png" alt="" -->
        <div class="team1border">
  
        </div>
        <li class="white-text" >aspiracion de secreciones</li>
        <li class="white-text" >$30000</li>
  
        <div class="team2border">
  
        </div>
        <!--<i class="mdi mdi-facebook mdi-24px white-text"></i>
        <i class="mdi mdi-twitter mdi-24px white-text"></i>
        <i class="mdi mdi-linkedin mdi-24px white-text"></i>
        <i class="mdi mdi-google mdi-24px white-text"></i>-->
      </div>
  
    </div>
  
    <div class="col s12 m4 l4  center-align">
      <div class="card-panel blue darken-1">
        <!--img src="img/team3.png" alt="" -->
        <div class="team1border">
  
        </div>
        <li class="white-text" id="teamname">acupuntura a domicilio</li>
        <li class="white-text" id="teamrole">$30.000</li>
  
        <div class="team2border">
  
        </div>
       <!-- <i class="mdi mdi-facebook mdi-24px white-text"></i>
        <i class="mdi mdi-twitter mdi-24px white-text"></i>
        <i class="mdi mdi-linkedin mdi-24px white-text"></i>
        <i class="mdi mdi-google mdi-24px white-text"></i> -->
      </div>
  
    </div>
  </div>
  
  </div>