 <!-- seccion de servicios-->        
 
 <section class="container">
    <h2 class="h2-title">Servicios especializados en kinesiología</h2>
    <p class="p-content">Recupera tu Movilidad y Bienestar con Nuestros Servicios de Kinesiología a Domicilio.
        Profesionales Altamente Cualificados para Brindarte la Mejor Atención Personalizada.
        Te Ayudamos a Mejorar tu Calidad de Vida y Lograr tus Metas de Salud. <strong>haz click en cada imagen para saber más</strong> 
    </p>
    <article class="card">
        <img src="/public/images/Respiratoria.webp" alt="respiratorio">
        <div class="text-overlay">Kinesiologo respiratorio</div>
        <div class="card__content">
            <p class="card__title">kinesiologia Respiratoria</p>
            <p class="card__description">
                terapia respiratoria a domicilio, EPOC, neumonia, aspiracion de secreciones, en la comodidad de tu hogar
            </p>
            <button><a class="a-button" href="http://www.kinesishouse.cl/kinesiologo-respiratorio" target="_blank" >ver mas</a> </button>
        </div>
    </article>
    <article class="card">
        <img src="/public/images/Adulto-Mayor.webp" alt="kinesiolgo para adulto mayor">
        <div class="text-overlay">Kinesiologo geriatria</div>
        <div class="card__content">
            <p class="card__title">kinesiologo geriatria</p>
            <p class="card__description">tratamieto integral en personas mayores, conbinamos terapia de respiratorio, traumatologia y neruologia para mejorar todos los factores necessarios en ancianos
            </p>
            <button><a class="a-button" href="http://www.kinesishouse.cl/kinesiologo-adulto-mayor" target="_blank" > ver mas</a></button>
        </div>
    </article>
    <article class="card">
        <img src="/public/images/Traumatologia.webp"" alt="kinesiologo en traumatologia">
        <div class="text-overlay">Kinesiologo traumatologia</div>
        <div class="card__content">
            <p class="card__title">kinesiologo traumatologia</p>
            <p class="card__description">tratamiento combinado a patologias como lumbagos problemas a tendones, dolor cronico, fracturass y post operados

            </p>
            <button><a class="a-button" href="http://www.kinesishouse.cl/kinesiologo-traumatologia" target="_blank" > ver mas</a></button>
        </div>
    </article>
    <article class="card">
        <img src="/public/images/Neurologia.webp" alt="kinesiolgo en neurologia">
        <div class="text-overlay">Kinesiologo Neurologia</div>
        <div class="card__content">
            <p class="card__title">kinesiologo Neurologia</p>
            <p class="card__description">
                Rehabilitacionen patologias neurologias como parkinson, ACV, guillian barre
            </p>
            <button><a class="a-button" href="http://www.kinesishouse.cl/kinesiologo-neurologia" target="_blank" rel="noopener noreferrer"> ver mas</a></button>
        </div>
    </article>
    <article class="card">
        <img src="/public/images/traumatologia/masoterapia.webp" alt="masaje">
        <div class="text-overlay">Masaje terapeuticos</div>
        <div class="card__content">
            <p class="card__title">Masaje terapeuticos</p>
            <p class="card__description">Servicios de masaje terapeutico, 45 min de duracion, se aplican diveras formas y tecnicas de masaje.

            </p>
            <button><a class="a-button" href="#" target="_blank" >ver mas</a></button>
        </div>
    </article>
    <article class="card">
        <img src="/public/images/Acupuntura.webp" alt="acupuntura">
        <div class="text-overlay">Terapia de Acupuntura</div>
        <div class="card__content">
            <p class="card__title">Terapia de Acupuntura</p>
            <p class="card__description">
                tratamiento del dolor cronico y agudo, fibromialgia, dolores de cabeza en combinacion con kinesiologia
            </p>
            <button><a class="a-button" href="#" target="_blank"> ver mas</a></button>
        </div>
    </article>
    <!-- Resto de las tarjetas aquí -->
</section>