 <!-- seccion de servicios-->        
 
 <section class="container">
    <h2 class="h2-title">Servicios especializados en kinesiología y Rehabilitación</h2>
    <p class="p-content">Recupera tu Movilidad y Bienestar con Nuestros Servicios de <strong>Kinesiología a Domicilio</strong>.
        Profesional Altamente Cualificado en <strong>rehabilitación</strong> para Brindarte la Mejor Atención Personalizada.
        Te Ayudamos a Mejorar tu Calidad de Vida y Lograr tus Metas de Salud. <strong>haz click en cada imagen para saber más</strong> 
    </p>
    <article class="card">
        <img src="/public/images/Respiratoria.webp" alt="respiratorio">
        <h2 class="text-overlay">Kinesiologo respiratorio</h2>
        <div class="card__content">
            <h3 class="card__title">kinesiologia Respiratoria</h3>
            <p class="card__description">
                terapia <strong>kinesiologia respiratoria a domicilio</strong>, EPOC, neumonia, aspiracion de secreciones, en la comodidad de tu hogar
            </p>
            <button><a class="a-button" href="http://www.kinesishouse.cl/kinesiologo-respiratorio" target="_blank" >ver mas</a> </button>
        </div>
    </article>
    <article class="card">
        <img src="/public/images/Adulto-Mayor.webp" alt="kinesiolgo para adulto mayor">
        <h2 class="text-overlay">Kinesiologo geriatria</h2>
        <div class="card__content">
            <h3 class="card__title">kinesiologo geriatria</h3>
            <p class="card__description"><strong>kinesiologia integral</strong> en personas mayores, conbinamos terapia de respiratorio, traumatologia y neruologia para mejorar todos los factores necessarios en ancianos
            </p>
            <button><a class="a-button" href="http://www.kinesishouse.cl/kinesiologo-adulto-mayor" target="_blank" > ver mas</a></button>
        </div>
    </article>
    <article class="card">
        <img src="/public/images/Traumatologia.webp"" alt="kinesiologo en traumatologia">
        <h2 class="text-overlay">Kinesiologo traumatologia</h2>
        <div class="card__content">
            <h3 class="card__title">kinesiologo traumatologia</h3>
            <p class="card__description">necesitas un <strong>kinesiolgo</strong> especialista en patologias como lumbagos problemas a tendones, dolor cronico, fracturass y post operados

            </p>
            <button><a class="a-button" href="http://www.kinesishouse.cl/kinesiologo-traumatologia" target="_blank" > ver mas</a></button>
        </div>
    </article>
    <article class="card">
        <img src="/public/images/Neurologia.webp" alt="kinesiolgo en neurologia">
        <h2 class="text-overlay">Kinesiologo Neurologia</h2>
        <div class="card__content">
            <h3 class="card__title">kinesiologo Neurologia</h3>
            <p class="card__description">
               <strong>Servicio de rehabilitación</strong> en patologias neurologias como parkinson, ACV, guillian barre
            </p>
            <button><a class="a-button" href="http://www.kinesishouse.cl/kinesiologo-neurologia" target="_blank" rel="noopener noreferrer"> ver mas</a></button>
        </div>
    </article>
    <article class="card">
        <img src="/public/images/traumatologia/masoterapia.webp" alt="masaje">
        <h2 class="text-overlay">Masaje terapeuticos</h2>
        <div class="card__content">
            <h3 class="card__title">Masaje terapeuticos</h3>
            <p class="card__description"><strong>Servicios de masaje terapeutico</strong>, 45 min de duracion, se aplican diveras formas y tecnicas de masaje.

            </p>
            <button><a class="a-button" href="#" target="_blank" >ver mas</a></button>
        </div>
    </article>
    <article class="card">
        <img src="/public/images/Acupuntura.webp" alt="acupuntura">
        <h2 class="text-overlay">Terapia de Acupuntura</h2>
        <div class="card__content">
            <h3 class="card__title">Terapia de Acupuntura</h3>
            <p class="card__description">
                <strong>terapia y tratamiento del dolor cronico y agudo</strong>, fibromialgia, dolores de cabeza en combinacion con <strong>kinesiologia</strong>
            </p>
            <button><a class="a-button" href="#" target="_blank"> ver mas</a></button>
        </div>
    </article>
    <!-- Resto de las tarjetas aquí -->
</section>