<nav>  
  <div class="nav-wrapper transparent">
    <a href="#" class="brand-logo left"><img src="../assets/img/logo.jpg" alt="logo de kinesiologo"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Inicio</a></li>
            <!-- Dropdown Trigger -->
      <li><a href="#servicio">Servicio</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Blog<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="/about">Nosotros</a></li>
      <li><a href="/contacto">Contacto</a></li>
      <li><a href="#">Store</a></li>
    </ul>
            <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/kinesiologo-respiratorio">kinesi&oacute;logo respiratorio</a></li>
      <li class="divider"></li>
      <li><a href="/kinesiologo-traumatologia">kinesiol&oacute;go traumatolog&iacute;a</a></li>
      <li class="divider"></li>
      <li><a href="/kinesiologo-neurologia">kinesi&oacute;logo neurolog&iacute;a</a></li>
      <li class="divider"></li>
      <li><a href="/kinesiologo-adulto-mayor">kinesi&oacute;logo adulto mayor</a></li>
      <li class="divider"></li>
      <li><a href="/kinesiologo-deportivo">kinesi&oacute;logo deportivo</a></li>
      <li class="divider"></li>
      <li><a href="/kinesiologia-domicilio"> FAQ kinesiolog&iacute;a</a></li>

    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="/kinesiologo-respiratorio">kinesi&oacute;logo respiratorio</a></li>
      <li class="divider"></li>
      <li><a href="/kinesiologo-traumatologia">kinesiol&oacute;go traumatolog&iacute;a</a></li>
      <li class="divider"></li>
      <li><a href="/kinesiologo-neurologia">kinesi&oacute;logo neurolog&iacute;a</a></li>
      <li class="divider"></li>
      <li><a href="/kinesiologo-adulto-mayor">kinesi&oacute;logo adulto mayor</a></li>
      <li class="divider"></li>
      <li><a href="/kinesiologo-deportivo">kinesi&oacute;logo deportivo</a></li>
      <li class="divider"></li>
      <li><a href="/kinesiologia-domicilio"> FAQ kinesiolog&iacute;a</a></li>


    </ul>
  </div></nav>

  <!-- sinenav mobile-->

<ul id="slide-out" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img src="/public/images/Header/PersonalTraining_jpg.webp" alt="imagen fondo kinesiologo">
    </div>
    <a href="#user"><img class="circle" src="/public/images/Workers/Paulo.jpg" alt="imagen kinesiologo paulo silva"></a>
    <a href="#name"><span class="white-text name">Paulo Silva M.</span></a>
    <a href="#email"><span class="white-text email">kinesishouse@gmail.com</span></a>
  </div></li>
  <li><a href="/"><i class="material-icons">home</i>Inicio</a></li>
  <li><a href="#servicio"><i class="material-icons">local_offer</i>Servicio</a></li>
  <li><a href="/about"><i class="material-icons small"> group </i>Nosotros</a></li>
  <li><a href="/contacto"><i class="material-icons small">mail</i>Contacto</a></li>

  <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><i class="material-icons small">library_books</i>Blog<i class="material-icons right">arrow_drop_down</i></a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Sub-Menu</a></li>
  <li><a class="waves-effect" href="#!"><i class="material-icons small">local_grocery_store</i> Tienda</a></li>
</ul>
<!--navbar 1-->
    
     