
      <!--footer inicio-->
      <footer>
        <!-- Footer main -->
        <section class="ft-main">
          <div class="ft-main-item">
            <h2 class="ft-title">Blog</h2>
            <ul>
              <li><a class="white-text flow-text "  href="http://www.kinesishouse.cl/kinesiologo-respiratorio">kinesi&oacute;logo respiratorio</a></li>
              <li><a class="white-text flow-text "  href="http://www.kinesishouse.cl/kinesiologo-traumatologia">kinesi&oacute;logo en traumatolog&iacute;a</a></li>
              <li><a class="white-text flow-text "  href="http://www.kinesishouse.cl/kinesiologo-neurologia">kinesi&oacute;logo en neurolog&iacute;a</a></li>
              <li><a class="white-text flow-text"  href="http://www.kinesishouse.cl/kinesiologo-adulto-mayor">kinesi&oacute;logo para adulto mayor</a></li>
              <li><a class="white-text flow-text"  href="http://www.kinesishouse.cl/kinesiologo-deportivo">kinesi&oacute;logo deportivo</a></li>
              <li><a class="white-text flow-text"  href="http://www.kinesishouse.cl/kinesiologia-domicilio">kinesiolog&iacute;a FAQ</a></li>
            </ul>

          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Extras</h2>
            <ul>
              <li><a href="#"><span><i class="material-icons small">local_grocery_store</i></span> Tienda</a></li>
              <li><a href="#"> <span><i class="material-icons small">library_books</i></span> Blog</a></li>
              <li><a href="#"> <span><i class="material-icons small">fitness_center</i></span> Ejercicios terapeuticos</a></li>
              
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Contacto</h2>
            <ul>
              <li><a href="#"><span><i class="material-icons small">place</i></span> Direccion <address> Ñuñoa, Peñalolen, Las condes, Chicureo, Vitacura, La Reina<address></a></li>
              <li><a href="#"><span><i class="material-icons small">phone_in_talk</i></span> Telefono: +56956833633</a></li>
              <li><a href="#"><span><i class="material-icons small">mail</i></span> kinesishouse@gmail.com</a></li>
            </ul>
          </div>
         
        </section>
      
        <!-- Footer social -->
        <section class="ft-social">
          <ul class="ft-social-list">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </section>
      
        <!-- Footer legal -->
        <section class="ft-legal">
          <ul class="ft-legal-list">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li>&copy; 2023 Kinesiologo Paulo Silva M.</li>
          </ul>
        </section>
      </footer>
      <!--footer fin-->
    

  <!--Import jQuery before materialize.js-->
  <script defer type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


<!-- Compiled and minified JavaScript -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script defer src="/public/js/main2.min.js"></script>  