
      <!--footer inicio-->
      <footer>
        <!-- Footer main -->
        <section class="ft-main" itemscope itemtype="https://schema.org/LocalBusiness">
          <div class="ft-main-item">
            <h2 class="ft-title">Blog</h2>
            <ul>
              <li><a class="white-text flow-text" href="http://www.kinesishouse.cl/kinesiologo-respiratorio">kinesiólogo respiratorio</a></li>
              <li><a class="white-text flow-text" href="http://www.kinesishouse.cl/kinesiologo-traumatologia">kinesiólogo en traumatología</a></li>
              <li><a class="white-text flow-text" href="http://www.kinesishouse.cl/kinesiologo-neurologia">kinesiólogo en neurología</a></li>
              <li><a class="white-text flow-text" href="http://www.kinesishouse.cl/kinesiologo-adulto-mayor">kinesiólogo para adulto mayor</a></li>
              <li><a class="white-text flow-text" href="http://www.kinesishouse.cl/kinesiologo-deportivo">kinesiólogo deportivo</a></li>
              <li><a class="white-text flow-text" href="http://www.kinesishouse.cl/kinesiologia-domicilio">kinesiología FAQ</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Extras</h2>
            <ul>
              <li><a href="#" itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog"><span><i class="material-icons small">local_grocery_store</i></span> Tienda</a></li>
              <li><a href="#" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting"><span><i class="material-icons small">library_books</i></span> Blog</a></li>
              <li><a href="#"><span><i class="material-icons small">fitness_center</i></span> Ejercicios terapéuticos</a></li>
            </ul>
          </div>
          <div class="ft-main-item" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <h2 class="ft-title">Contacto</h2>
            <ul>
              <li><a href="#"><span><i class="material-icons small">place</i></span> Dirección <span itemprop="streetAddress">Ñuñoa, Peñalolén, Las Condes, Chicureo, Vitacura, La Reina</span></a></li>
              <li><a href="#"><span><i class="material-icons small">phone_in_talk</i></span> Teléfono: <span itemprop="telephone">+56956833633</span></a></li>
              <li><a href="#"><span><i class="material-icons small">mail</i></span> <span itemprop="email">kinesishouse@gmail.com</span></a></li>
            </ul>
          </div>
        </section>
        
      
        <!-- Footer social -->
        <section class="ft-social">
          <ul class="ft-social-list">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </section>
      
        <!-- Footer legal -->
        <section class="ft-legal">
          <ul class="ft-legal-list">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li>&copy; 2023 Kinesiologo Paulo Silva M.</li>
          </ul>
        </section>
      </footer>
      <!--footer fin-->
    

  <!--Import jQuery before materialize.js-->
  <script defer type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


<!-- Compiled and minified JavaScript -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script defer src="/public/js/main2.min.js"></script>  
