.container
    hr
    .featurette-divider
    .row.featurette
        .col-md-5
            .text-center
                img.img-responsive.img-thumbnail(src='images/Acupuntura.webp' alt='Acupuntura')
        .col-md-7
            h2#acupuntura Acupuntura
            p.text-justify
                | La acupuntura es una t&eacute;cnica de medicina tradicional china que consta de la
                | aplicaci&oacute;n de finas agujas en puntos espec&iacute;ficos del cuerpo para tratar diversas patolog&iacute;as.
                | En una sesi&oacute;n tipo la persona ser&aacute; evaluada seg&uacute;n la medicina china y con los datos recopilados se le
                | har&aacute; un diagnostico y posteriormente un plan de tratamiento.
            #collapseAcupuntura.collapse-xs
                p.text-justify
                    | Todo esto radica en la importancia en
                    | que los deportistas por lo general a pesar de una lesi&oacute;n no dejan su actividad, dificultando mucho los
                    | tiempos de recuperaci&oacute;n.
                p.text-justify
                    | La duraci&oacute;n aproximada de una sesi&oacute;n es de 45 Min. y se realizan entre 1 a 2
                    | veces por semana
                    | Adem&aacute;s de la aplicaci&oacute;n de agujas en una se pueden utilizar ventosas, moxibusti&ograve;n y/o
                    | electroterapia.
                    | La Organizaci&oacute;n mundial de la salud ha publicado un listado de enfermedades en donde la acupuntura
                    | puede ayudar, entre ellas est&aacute;n
            p.text-center.visible-xs-block
                a.linkCollapses(data-toggle='collapse' href='#collapseAcupuntura' aria-expanded='false' aria-controls='collapseExample')
                    | Ver Mas
                    span.glyphicon.glyphicon-chevron-down
                a.linkCollapses.hidden(data-toggle='collapse' href='#collapseAcupuntura' aria-expanded='false' aria-controls='collapseExample')
                    | Ver Menos
                    span.glyphicon.glyphicon-chevron-up
