.container
    #Adulto
    hr
    .featurette-divider
    .row.featurette
        .col-md-6
            .text-center
                img.img-responsive.img-thumbnail(src='images/Adulto-Mayor.jpg' alt='Kinesiología para el Adulto Mayor')
        .col-md-5
            h2#adultomayor Kinesiolog&iacute;a para el Adulto Mayor
            p.text-justify
                | Pensando que cada vez la poblaci&oacute;n vive m&aacute;s a&ntilde;os y cada d&iacute;a aumenta el n&uacute;mero de
                | adultos mayores con diversas complicaciones y dolencias. Nosotros ofrecemos una terapia integral&nbsp;
                | con el equipo de
                strong kinesi&oacute;logo a domicilio
                | enfocados para el adulto mayor, que no solo
                |                 mejoraremos su problema principal, sino que abarcamos una terapia integral y completa en diversas &aacute;reas.
            #collapseAdulto.collapse-xs
                p
                    | Mejorando sus factores de riesgos cardiovasculares, con
                    | ejercicios localizados en
                    strong mejorar sus capacidades
                    | funcionales, disminuir sus factores
                    |                 de riesgos como la diabetes mellitus II, hipertension, sus riesgos de ca&iacute;da, las diversas dolencias y
                    |                 molestias f&iacute;sicas que presenten, adem&aacute;s de integr&aacute;ndolo funcionalmente a sus actividades de la vida
                    |                 diaria y educando a la familia a la mejora&nbsp; f&iacute;sica, ps&iacute;quica y emocional de su adulto mayor.
                p.text-justify
                    | Contamos con manejo de pacientes postrados, en sillas de ruedas, manejo de
                    | ayudas t&eacute;cnicas asociadas, terapia respiratoria, entrenamiento metabolico, entrenamiento
                    | cardiovascular.
                p.text-justify
                    | Una terapia a adulto mayor puede incluir los aspectos de problemas
                    | traumatol&oacute;gicos, neurol&oacute;gicos y cardiorespiratorios. Recomendaci&oacute;n OMS
            p.text-center.visible-xs-block
                a.linkCollapses(data-toggle='collapse' href='#collapseAdulto' aria-expanded='false' aria-controls='collapseExample')
                    | Ver Mas
                    span.glyphicon.glyphicon-chevron-down
                a.linkCollapses.hidden(data-toggle='collapse' href='#collapseAdulto' aria-expanded='false' aria-controls='collapseExample')
                    | Ver Menos
                    span.glyphicon.glyphicon-chevron-up
