.container
    hr
    .featurette-divider
    .row.featurette
        .col-md-7
            h2#deportiva Kinesiolog&iacute;a Deportiva
            p.text-justify
                | Basados en un enfoque de
                strong medicina deportiva y biomec&aacute;nica
                | adem&aacute;s de
                |                 los diversos factores que no son f&aacute;cil de identificar por otras instituciones,
                strong
                    | nuestro
                    | tratamiento
                | est&aacute; enfocado en mejorar todos los aspectos de la lesi&oacute;n, la t&eacute;cnica y el
                |                 adecuado retorno deportivo, se realiza una evaluaci&oacute;n completa, an&aacute;lisis biomec&aacute;nico y antropom&eacute;trico
                |                 adem&aacute;s de los factores externos para mejorar el retorno oportuno al deporte,
                strong
                    | aplicaci&oacute;n de tape
                    | neuromuscular,
                | t&eacute;cnicas de
                strong terapia manual, trabajo muscular exc&eacute;ntrico
                | etc.
                |                 Enfocado en lesiones tan comunes como runner knee, codo de tenista, desgarros, rodilla de saltador,
                |                 etc..
            #collapseDeporte.collapse-xs
                p.text-justify
                    | Todo esto radica en la importancia en
                    | que los deportistas por lo general a pesar de una lesi&oacute;n no dejan su actividad, dificultando mucho los
                    | tiempos de recuperaci&oacute;n.
                p.text-justify
                    | Con el enfoque actual se busca no dejar la actividad, pero evitando lesionar a&uacute;n
                    | m&aacute;s la estructura en cuesti&oacute;n, siguiendo actividades de compensaci&oacute;n en todo el sistema y no solo
                    | enfoc&aacute;ndose en la lesi&oacute;n misma. Como la adecuada rehabilitaci&oacute;n preventiva, o mejorando los
                    | componentes inestables que Allan generado la lesi&oacute;n, como una cadera o rodilla inestable que
                    | terminan lesionando el tobillo. Los invitamos a experimentar de una nueva modalidad de
                    | rehabilitaci&oacute;n netamente personalizada en usted.
            p.text-center.visible-xs-block
                a.linkCollapses(data-toggle='collapse' href='#collapseDeporte' aria-expanded='false' aria-controls='collapseExample')
                    | Ver Mas
                    span.glyphicon.glyphicon-chevron-down
                a.linkCollapses.hidden(data-toggle='collapse' href='#collapseDeporte' aria-expanded='false' aria-controls='collapseExample')
                    | Ver Menos
                    span.glyphicon.glyphicon-chevron-up
        .col-md-5
            .text-center
                img.img-responsive.img-thumbnail(src='images/Deporte.jpg' alt='Kinesiología Deportiva')
