.container
    #kinesiologia-neurologia-domicilio
    hr
    .featurette-divider
    .row.featurette
        hr
        .featurette-divider
        .row.featurette
            .col-md-7
               h2#kinesiologia-neurologia-domicilio Kinesiologia en Rehabilitaci&oacute;n Neurol&oacute;gica a domicilio
               p.text-justify
                 | &iquest;a quien va dirigido?
                 | aplicaciones de terapia que se incluyen en el servicio, se enfoca  a pacientes con todo tipo de alteraciones neurol&oacute;gicas, entre las m&aacute;s comunes est&aacute;n: accidentes cerebro vasculares, traumatismos enc&eacute;falo-craneanos y medulares, paraplej&iacute;as, apoplej&iacute;as, secuelados de meningitis, etc.), como perif&eacute;ricas (t&uacute;nel carpiano, neuro praxias, etc), par&aacute;lisis cerebrales en ni&ntilde;os, alteraci&oacute;n del desarrollo sicomotor etc.
                 | la terapia se enfocara en:  
                 ul
                   li
                     | Psicomotricidad y neurorehabilitaci&oacute;n, enfocado en modelos del control motor buscando restablecer el control de la postura
                   li
                     | El equilibrio y los desplazamientos. Principalmente en mejorar la funcionalidad del paciente con trastornos neurol&oacute;gicos, pasando por todos los aspectos motrices b&aacute;sicos(tecnicas de rehabilitaci&oacute;n). Esto quiere decir enfocados a que el paciente logre su m&aacute;xima independencia.
                   li mejorar la funcionalidad y control motor del tronco (CORE)
                   li
                     | Educar a la familia en aspecto b&aacute;sicos del manejo la enfermedad y rehabilitaci&oacute;n, como todo lo referente a traslados o movilizaci&oacute;n del paciente, cambio de posiciones, para de esa manera lograr el mejor resultado posible.
                   li aplicaci&oacute;n de t&eacute;cnicas de kinesiologia y ejercicios respiratorios si lo requiere
                 | el tratamiento por lo general es de larga data ya que el sistema neuronal es de lenta adaptaci&oacute;n, con lo cual la terapia puede incluso pasar de meses a a&ntilde;os en el proceso por lo mismo se realizan descuento especiales cuando se contratan sobre las 10 sesiones

            .col-md-5
                .text-center
                    img.img-responsive.img-thumbnail(src='images/Neurologia_jpg.webp' alt='Rehabilitación y kinesiologia Neurológica atencion domicilio')