.container
    #kinesiologia-respiratoria-domicilio
    hr
    .featurette-divider
    .row.featurette
        .col-md-7
           h2#kinesiologia-respiratoria-domicilio Kinesiolog&iacute;a respiratoria a domicilio ni&ntilde;os y adulto mayor  la mejor atenci&oacute;n de la Regi&oacute;n Metropolitana
           p.text-justify-center
               | &iquest;Que es la 
               strong  kinesiologia respiratoria domicilio
               | ?
               |            Esto es una terapia con &lt;
               strong ejercicios respiratorios 
               |  realizados por el 
               strong kinesi&oacute;logo
               | . Se aplican un conjunto de t&eacute;cnicas manuales sobre el t&oacute;rax, adem&aacute;s de 
               strong aspiraci&oacute;n de secreciones
               |  con el fin de favorecer la Ventilaci&oacute;n correcta y el mejoramiento de la Funci&oacute;n Pulmonar.
               |           Con esto se logra el tratamiento tanto cr&oacute;nico como agudo del sistema respiratorio como asma bronquitis, neumon&iacute;a, 
               abbr(title='Enfermedad Bronquial Obstructiva Crónica') EPOC
                 a(href='https://scielo.conicyt.cl/scielo.php?pid=S0034-98872001000400003&script=sci_arttext')
               | (fisiolog&iacute;a del
               | EPOC)
               ul
                 li
                   | t&eacute;cnicas de kinesioterapia como drenaje bronquial, clapping, presiones sobre el t&oacute;rax
                 li  aspiraci&oacute;n endotraqueal de secreciones con bomba(turbina) de succi&oacute;n
                 li  nebulizaci&oacute;n
                 li saturometr&iacute;a de pulso (pulso normal 98 a 96%) y evaluaciones continuas
                 li
                   | profesional con experiencia en servicios de Unidad de cuidado cr&iacute;tico y Coronario
               |          precio desde los $20.000
               |          contacto +569 56833633  
        .col-md-5
            .text-center
                img.img-responsive.img-thumbnail(src='images/Respiratoria_jpg.webp' alt='Kinesioterapia Respiratoria a domicilio atencion infantil y adulto')
