.container
    hr
    .featurette-divider
    .row.featurette
        .col-md-7
            h2#respiratoria Kinesioterapia Respiratoria
            p.text-justify
                | La
                strong Kinesioterapia Respiratoria
                | y
                strong
                    | servicio de kinesi&oacute;logo a
                    | domicilio
                | , consiste&nbsp; en mejorar la funci&oacute;n pulmonar eliminando las secreciones en la v&iacute;a
                |                 &aacute;rea del paciente y con ello mejorar el intercambio gaseoso que muchas veces se ve alterado debido a las
                |                 enfermedades como
                strong
                    | neumon&iacute;as, bronquitis obstructiva,
                    abbr(title='Enfermedad Bronquial Obstructiva Crónica') EPOC
                a(href='#')
                    | (fisiolog&iacute;a del
                    | EPOC)
                | .
            #collapseRespiratoria.collapse-xs
                p.text-justify
                    | El tratamiento se realiza
                    | generalmente a trav&eacute;s con t&eacute;cnicas kin&eacute;sicas manuales sobre el t&oacute;rax, posicionamientos, educaci&oacute;n a la
                    | familia, apoy&aacute;ndose con equipos de oxigenoterapia, aspiraci&oacute;n de secreciones con turbina, oximetr&iacute;a de
                    | pulso etc.Cabe destacar que toda enfermedad respiratoria es un proceso en el cual el paciente puede
                    | pasar de un estado inicial de normalidad a una infecci&oacute;n como una neumon&iacute;a, que lo podr&iacute;a derivar a
                    | hospitalizarse a un centro hospitalario.
                p.text-justify
                    | Es por eso que es muy necesario que en este tipo de intervenci&oacute;n la
                    | rehabilitaci&oacute;n sea estricta y constante, evaluando y reevaluando los efectos de la terapia sobre el
                    | paciente, siendo siempre como objetivo principal mejorar una adecuada permeabilidad de la v&iacute;a &aacute;rea,
                    | sin secreciones disminuyendo los riesgos de complicaci&oacute;n mucho en sentido de realizar el servicio en
                    | la comodidad del hogar
            p.text-center.visible-xs-block
                a.linkCollapses(data-toggle='collapse' href='#collapseRespiratoria' aria-expanded='false' aria-controls='collapseExample')
                    | Ver Mas
                    span.glyphicon.glyphicon-chevron-down
                a.linkCollapses.hidden(data-toggle='collapse' href='#collapseRespiratoria' aria-expanded='false' aria-controls='collapseExample')
                    | Ver Menos
                    span.glyphicon.glyphicon-chevron-up
        .col-md-5
            .text-center
                img.img-responsive.img-thumbnail(src='images/Respiratoria.jpg' alt='Kinesioterapia Respiratoria')
