.container
    hr
    .featurette-divider
    .row.featurette
        .col-md-5
            .text-center
                img.img-responsive.img-thumbnail(src='images/Traumatologia.webp' alt='Kinesiología en Traumatologia')
        .col-md-7
            h2#traumatologia Kinesiolog&iacute;a en Traumatol&oacute;gia
            p.text-justify
                | La kinesiolog&iacute;a del &aacute;rea traumatol&oacute;gica es la encargada de administrar el
                | tratamiento de rehabilitaci&oacute;n en condiciones que se vean afectado el sistema musculo esquel&eacute;tico, es
                | com&uacute;n hoy en d&iacute;a tener patolog&iacute;as presente en el gran n&uacute;mero de la poblaci&oacute;n como son los
                strong lumbagos
                | ,
                |                 enfermedad muchas veces netamente laboral, as&iacute; como las
                strong tendinopatias
                | del
                strong
                    | supraespinoso,
                    | codo de tenista o s&iacute;ndrome del t&uacute;nel carpiano
                | , as&iacute; son muy comunes tambi&eacute;n las
                strong
                    | fracturas
                    | o los esguinces
                | . Toda esta gama de lesiones son bastantes habituales y es sabido que es
                |                 sumamente incomodo tratar de trasladarse con estas molestias a un lugar de atenci&oacute;n cl&iacute;nica a tratarse.
            #collapseTrauma.collapse-xs
                p.text-justify
                    | Ese problema se resuelve totalmente al
                    | tener la misma atenci&oacute;n en su hogar, mucho m&aacute;s, personalizada, con todos los elementos de fisioterapia,
                    | t&eacute;cnicas de terapia manual ortop&eacute;dica, vendaje neuromuscular etc. En si una gama de herramientas con las
                    | cuales recibir&aacute; su mejor atenci&oacute;n kin&eacute;sica, ll&aacute;menos y compruebe la mejoras constantes con su
                    | tratamientos.
            p.text-center.visible-xs-block
                a.linkCollapses(data-toggle='collapse' href='#collapseTrauma' aria-expanded='false' aria-controls='collapseExample')
                    | Ver Mas
                    span.glyphicon.glyphicon-chevron-down
                a.linkCollapses.hidden(data-toggle='collapse' href='#collapseTrauma' aria-expanded='false' aria-controls='collapseExample')
                    | Ver Menos
                    span.glyphicon.glyphicon-chevron-up
